<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="stylesheet" type="text/css" href="assets/audio.css" />

  <title>Audio API</title>
</head>

<body>
<div>
  <button>Laser</button>
</div>


<script type="text/javascript">

// const context = new window.AudioContext;



// function play() {
//   const oscillator = context.createOscillator();
//   oscillator.frequency.value = 750;
//   oscillator.type = 'square';

//   oscillator.frequency.exponentialRampToValueAtTime(0.01, context.currentTime+0.5);

//   const gainNode = context.createGain();
//   gainNode.gain.setValueAtTime(1, context.currentTime);
//   gainNode.gain.exponentialRampToValueAtTime(0.001,context.currentTime+0.5);

//   oscillator.connect(context.gainNode);
//   oscillator.connect(context.destination);



//   oscillator.start(context.currentTime);
//   oscillator.stop(context.currentTime+0.5);
// }





// play button stuff
const buttons = document.getElementsByTagName('button');
const laserButton = buttons[0];

laserButton.addEventListener("click", function() {
  play();
});











const ourAudioContext = new window.AudioContext;

function play() {

  const oscillator = ourAudioContext.createOscillator();
  oscillator.frequency.value = 750;
  oscillator.type = 'sawtooth';

  oscillator.frequency.exponentialRampToValueAtTime(0.01, ourAudioContext.currentTime+0.5);

  const gainNode = ourAudioContext.createGain();
  // set value to 1 'now'
  gainNode.gain.setValueAtTime(1, ourAudioContext.currentTime);
  // decrease suddenly but smoothly
  gainNode.gain.exponentialRampToValueAtTime(0.001, ourAudioContext.currentTime + 0.5);


  // connect everything together & play
  oscillator.connect(gainNode);
  gainNode.connect(ourAudioContext.destination);
  oscillator.start(ourAudioContext.currentTime);
  oscillator.stop(ourAudioContext.currentTime+0.5);
}
console.log(ourAudioContext.state);



</script>
</body>