<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="stylesheet" type="text/css" href="assets/audio.css" />

  <title>Audio API</title>
</head>

<body>
<div class="container">
  <section id="synth">
    <button data-sound="arps" data-mute="undef" class="on">Arps</button>
    <button data-sound="laser">Laser</button>
    <button data-sound="kick">Kick</button>
    <button data-sound="snare">Snare?</button>
    <button data-sound="hh" data-mute="undef">Hi Hat</button>
  </section>

  <section id="space">
    <span data-object="source"></span>
    <span data-object="listener"></span>
  </section>
</div>


<script type="text/javascript">

// dom / buttons
const buttons = document.querySelectorAll('button'),
  arpButton = document.querySelector('button[data-sound="arps"]'),
  hhButton = document.querySelector('button[data-sound="hh"]'),
  synth = document.querySelector('#synth');
console.log(buttons);

synth.addEventListener("click", function(evt) {
  let button = evt.target;
  console.log(button);

  // arpegiator controls
  if (button.dataset.sound === "arps") {

    if (button.dataset.mute === "true") {

      arpsGain.gain.value = 1;
      button.dataset.mute = "false";

    } else if (button.dataset.mute === "false") {

      arpsGain.gain.value = 0;
      button.dataset.mute = "true";

    } else {

      arpsSource.connect(arpsGain).connect(context.destination);
      arpsSource.start();
      arpsSource.loop = true;
      button.dataset.mute = "false";
    }
      
  }

  if (button.dataset.sound === "laser") {
    playLaser();
  }

  if (button.dataset.sound === "snare") {
    playSnare();
  }

  if (button.dataset.sound === "kick") {
    playKick();
  }

  // if (button.dataset.sound === "hh") {
  //   playHiHat();
  // }
  // play();
});

// start audio stuff

const context = new window.AudioContext;

// nodes
const arpsSource = context.createBufferSource(),
  arpsGain = context.createGain();

fetch('media/100_C_G_Arps_SP_01.wav')
  // read into memory as array buffer
  .then(response => response.arrayBuffer())
  // turn into raw audio data
  .then(arrayBuffer => context.decodeAudioData(arrayBuffer))
  .then(audioBuffer => {
    arpsSource.buffer = audioBuffer;
  })
// (see https://jakearchibald.com/2016/sounds-fun/)

// hi hat
fetch('media/808CHH.wav')
  // read into memory as array buffer
  .then(response => response.arrayBuffer())
  // turn into raw audio data
  .then(arrayBuffer => context.decodeAudioData(arrayBuffer))
  .then(audioBuffer => {
    hhButton.addEventListener("click", function(evt) {
      
      // hh.buffer = audioBuffer;
      // hh.connect(context.destination);
      // hh.start();
      // hh.stop(context.currentTime+0.6);
      // playHh(audioBuffer, context.currentTime);
      var startTime = context.currentTime + 0.100;
      var tempo = 100; // BPM (beats per minute)
      var eighthNoteTime = (60 / tempo) / 2;

      // Play 2 bars of the following:
      for (var bar = 0; bar < 8; bar++) {
        var time = startTime + bar * 8 * eighthNoteTime;
        // Play the bass (kick) drum on beats 1, 5
        // playSound(kick, time);
        // playSound(kick, time + 4 * eighthNoteTime);

        // Play the snare drum on beats 3, 7
        playSnare(time + 0 * eighthNoteTime);
        playSnare(time + 3 * eighthNoteTime);
        playSnare(time + 6 * eighthNoteTime);

        playHh(audioBuffer, time + 1.75 * eighthNoteTime);

        // Play the hi-hat every eighthh note.
        for (var i = 0; i < 8; ++i) {
          playHh(audioBuffer, time + i * eighthNoteTime);
        }
      }
      
      
    });

  })

function playSnare(time) {
  const snareBufferSize = context.sampleRate;
  // pass in channels, frame count, sample rate
  const snareBuffer = context.createBuffer(1, snareBufferSize, context.sampleRate);
  const snare = context.createBufferSource();

  // create some data for the buffer
  var snareData = snareBuffer.getChannelData(0);

  for (let i=0; i<snareBufferSize; i++) {
    snareData[i] = Math.random()*2 - 1;
  }

  snare.buffer = snareBuffer;

  // create a filter
  const snareFilter = context.createBiquadFilter();
  snareFilter.type = "bandpass";
  snareFilter.frequency = 10000;
  snareFilter.Q = 0.0001;

  // create gain
  const snareGain = context.createGain();
  snareGain.gain.setValueAtTime(1.5,time);
  snareGain.gain.exponentialRampToValueAtTime(0.01, time+0.2);

  snare.connect(snareFilter).connect(snareGain).connect(context.destination);
  snare.start(time);
  snare.stop(time+0.3);
}

function playHh(buffer, time) {
  hhButton.classList.add('on');
  const hh = context.createBufferSource();
  hh.buffer = buffer;
  hh.connect(context.destination);
  hh.start(time);
  hh.stop(time+0.6);
  hh.onended = function() {
    hhButton.classList.remove('on');
  }
}


function playLaser() {
  const laser = context.createOscillator();
  laser.frequency.value = 523.251;
  laser.type = 'triangle';
  laser.frequency.exponentialRampToValueAtTime(10, context.currentTime+1);

  const laserGain = context.createGain();
  // set gain value to 1 'now'
  laserGain.gain.setValueAtTime(1, context.currentTime)
  // decease suddenly but smoothly
  laserGain.gain.exponentialRampToValueAtTime(0.001, context.currentTime+0.9);
  laser.connect(laserGain).connect(context.destination);
  laser.start(context.currentTime);
  laser.stop(context.currentTime+1);
}

// function playSnare() {
//   const snareBufferSize = context.sampleRate;
//   // pass in channels, frame count, sample rate
//   const snareBuffer = context.createBuffer(1, snareBufferSize, context.sampleRate);
//   const snare = context.createBufferSource();

//   // create some data for the buffer
//   var snareData = snareBuffer.getChannelData(0);

//   for (let i=0; i<snareBufferSize; i++) {
//     snareData[i] = Math.random()*2 - 1;
//   }

//   snare.buffer = snareBuffer;

//   // create a filter
//   const snareFilter = context.createBiquadFilter();
//   snareFilter.type = "bandpass";
//   snareFilter.frequency = 15000;
//   snareFilter.Q = 0.0001;

//   // create gain
//   const snareGain = context.createGain();
//   snareGain.gain.setValueAtTime(3,context.currentTime);
//   snareGain.gain.exponentialRampToValueAtTime(0.01, context.currentTime+0.3);

//   snare.connect(snareFilter).connect(snareGain).connect(context.destination);
//   snare.start(context.currentTime);
//   snare.stop(context.currentTime+0.5);
// }

function playKick() {
  const kick = context.createOscillator();
  kick.frequency = 150;
  kick.frequency.setValueAtTime(150, context.currentTime);
  kick.frequency.exponentialRampToValueAtTime(0.01, context.currentTime+0.5);

  kickGain = context.createGain();
  kickGain.gain.setValueAtTime(2,context.currentTime);
  kickGain.gain.exponentialRampToValueAtTime(0.01,context.currentTime+0.4);

  kick.connect(kickGain).connect(context.destination);
  kick.start(context.currentTime);
  kick.stop(context.currentTime+0.5);
}
// see Chris Lowis https://dev.opera.com/articles/drum-sounds-webaudio/


// function playSnare() {
//   const snareBufferSize = context.sampleRate;
//   // pass in channels, frame count, sample rate
//   const snareBuffer = context.createBuffer(1, snareBufferSize, context.sampleRate);
//   const snare = context.createBufferSource();

//   // create some data for the buffer
//   var snareData = snareBuffer.getChannelData(0);

//   for (let i=0; i<snareBufferSize; i++) {
//     snareData[i] = Math.random()*2 - 1;
//   }
//   console.log(snareData);

//   snare.buffer = snareBuffer;
//   snare.connect(context.destination);
//   snare.start(context.currentTime);
//   snare.stop(context.currentTime+0.5);
// }

const space = document.querySelector('#space'),
  spaceSource = document.querySelector('span[data-object="source"]'),
  spaceListener = document.querySelector('span[data-object="listener"]');

console.log(spaceSource.offsetLeft);
//offsetTop

// audio stuff
const soundSource = context.createPanner();
const listener = context.listener;

// set position of listener (z pos abituary)
// listener.setPosition(spaceListener.offsetLeft, spaceListener.offsetTop, 300);
listener.setPosition(0, 0, 5);
// soundSource.setPosition(spaceSource.offsetLeft, spaceSource.offsetTop, 295);
soundSource.setPosition(0, 0, 5);

// 000 = top right boundingRect.top
var startPosX, startPosY;

fetch('media/100_C_G_Arps_SP_01.wav')
  // read into memory as array buffer
  .then(response => response.arrayBuffer())
  // turn into raw audio data
  .then(arrayBuffer => context.decodeAudioData(arrayBuffer))
  .then(audioBuffer => {
    const music = context.createBufferSource();
    music.buffer = audioBuffer;
    music.loop = true;
    music.connect(soundSource).connect(context.destination);
    // click & move person
    space.addEventListener("mousedown", function(evt) {
      music.start();
      startPosX = evt.clientX;
      startPosY = evt.clientY;

      this.addEventListener("mousemove", function(evt) {
        soundSource.setPosition((evt.clientX-startPosX)/10, (evt.clientY-startPosY)/10, (evt.clientY-startPosY)/10);
        spaceSource.style.transform = 'translate('+(evt.clientX-startPosX)+'px, '+(evt.clientY-startPosY)+'px)';

        this.addEventListener("mouseup", function(evt) {
          music.stop();
        })
      })
    })

  })







</script>
</body>