<!DOCTYPE html>
<html lang="en">
<head>
  <!--char set (lang above)-->
  <meta charset="utf-8">

  <!--device/browser shizzle-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--meta content-->
  <link rel="shortcut icon" href="favicon.ico" />
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Ruth John for Rumyra Ltd, United Kingdom, 2015">
  <title>The Web Audio API</title>

  <link rel="stylesheet" href="reveal/css/reveal.css">
  <link rel="stylesheet" href="reveal/css/theme/rumyra.css" id="theme">
  <link rel="stylesheet" href="reveal/lib/css/zenburn.css">
  <script src="reveal/js/reveal.js"></script>
  <!-- <script src="scripts/d3.min.js"></script> -->

  <!-- <script src="https://js.pusher.com/3.0/pusher.min.js"></script> -->
  <!-- <link rel="stylesheet" href="visuals.css"> -->

  <!--<style type="text/css">
    #screen {
      position: absolute; top:0px; left:0px;
      margin: 0px; padding: 0px;
      width:100vw; height:100vh;
      background-color: black;
      display: none;
    }
    svg {width: 100vw; height: 100vh; padding:0px; margin:0px;}
  </style>-->
  
</head>

<!--
$brown: #463c34
$green: #acc486
$orange: #ea8d88
$purple: #8c4c6f

$cream: #eee5c4
$grey: #bebebe
-->

<body class="talk">
  <div class="reveal">
    <div class="slides">
      <section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>Web Audio</h1>
          <h2>& a little MIDI</h2>
          <p>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</p>
          <aside class="notes">
          </aside>
        </section>

        <!--COOL DEMO HERE-->
        <section data-background-color="#8c4c6f" data-state="vis_speakers">
          <audio src="media/warren.m4a" data-autoplay></audio>
          <aside class="notes">
            <p>DANCE!</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/talk2med.jpg" data-state="no-visuals">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>Hello</p>
          <aside class="notes">
            <p>Hello Web Game Day ... How are we doing today?</p>
            <p>So this is the part of the talk where I introduce myself, and tell you what I do and why I should be up here talking to you about Web Audio and not anyone else.</p>
            <p>Well here's me with a laptop - pretty qualified. I've been known to write code.</p>
            <p>I've been doing that for a while now</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/meProject.jpg">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>Hello</p>
          <aside class="notes">
            <p>This is me projecting visuals around my city. With a laptop, a projector, a midi controller and hand coded browser software.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/meLights.jpg">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>Hello</p>
          <aside class="notes">
            <p>This is me at a hardware hackday I run with my friend Gordon, making a string of lights flash in time to sound</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/meLights.jpg">
          <h1>Not a game dev 😱</h1>
          <aside class="notes">
            <p>And this is me eating a borrito. Totally qualified to talk about Web Audio.</p>
            <p>Normally I would say let me show you - so please, let me show you.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/meLights.jpg">
          <h1>Not a game dev 😱</h1>
          <aside class="notes">
            <p>And this is me eating a borrito. Totally qualified to talk about Web Audio.</p>
            <p>Normally I would say let me show you - so please, let me show you.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-video="media/cameronsworld.mp4">
          <aside class="notes">
            <p>A website playing background music - the modern version of which is something like this:</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>Website with annoying advert popup</h1>
          <aside class="notes">
            <p>An annoying advert that autoplays - yes I know.</p>
            <p>If someone asks you to build this btw, stand up and walk away. You're a developer, there is work for you. Do the right thing. Stand up. Walk away.</p>
            <p>I'm going to get back to addressing this subject of audio on websites. But before I do - check some of this out, I'm sure we've all seen some of the amazing things we *can* now do.</p>
          </aside>
        </section>

        <section>
          <h1>Appediator</h1>
          <p>Jake Albergh</p>
          <aside class="notes">
            <p>Appediator</p>
          </aside>
        </section>

        <section>
          <h1>Sythesisor</h1>
          <p>Brighton peeps</p>
          <aside class="notes">
            <p>Appediator</p>
          </aside>
        </section>

        <section>
          <h1>Art installation</h1>
          <p>Brighton peeps</p>
          <aside class="notes">
            <p>Appediator</p>
          </aside>
        </section>

        <section>
          <h1>808</h1>
          <p>Gregor Adams</p>
          <aside class="notes">
            <p>Growing trend to replicate synths in a browser</p>
          </aside>
        </section>

        <section>
          <h1>All</h1>
          <aside class="notes">
            <p>808 drum machine</p>
          </aside>
        </section>

        <section>
          <h1>These</h1>
          <aside class="notes">
            <p>808 drum machine</p>
          </aside>
        </section>

        <section>
          <h1>Synths!</h1>
          <aside class="notes">
            <p>We'll get to what a sythesiser is later in the talk... but for now, back to audio... web audio. I mean where do you even begin.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-video="media/mdnDocs.mp4">
          <aside class="notes">
            <p>MDN docs of methods, functions, properties, events. I mean what even is a cent. Top tip - it's not a denomination of a currency.</p>
            <p>So I've popped all these into categories for you, and I'm going to take you through them. I'm not going to cover every single parameter? of every method in depth, or go into signal processing in depth, we simply don't have the time and audio is a huge topic. I'm here to talk about the web audio API, you wanna talk about any other thing, come find me after. Please :)</p>
          </aside>
        </section>

        <section>
          <h1>Create Audio Context</h1>
          <p>Pic of moz dev tools</p>
          <aside class="notes">
            <p>A concept to understand when you are working with web audio is the concept</p>
          </aside>
        </section>



        <section>
          <div class="list-right">
            <ul>
              <h1>Creating Sounds</h1>
              <li><h2>Waveform (Osillator)</h2></li>
              <li><h2>DOM &lt;audio></h2></li>
              <li><h2>Streams</h2></li>
              <li><h2>Buffers</h2></li>
            </ul>
          </div>
          <aside class="notes">
            <p>MDN docs of methods, functions, properties, events. I mean what even is a cent. Top tip - it's not a denomination of a currency.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" class="lists" data-state="no-visuals">
          <div class="list-right">
            <ul>
              <li><h2>Create & load sounds</h2></li>
              <li><h2>Alter sounds</h2></li>
              <li><h2>Analyse sounds</h2></li>
              <li><h2>Modify global audio space</h2></li>
              <li><h2>Output audio</h2></li>
            </ul>
          </div>
          <aside class="notes">
            <p>Great - now we've got that sorted and my talk anxiety out the way and this becomes a super useful talk - let's begin!</p>
          </aside>
        </section>

        <section>
          <h1>Nodes</h1>
          <p>Chains everything together</p>
          <aside class="notes">
            <p>Mozilla dev tools</p>
          </aside>
        </section>

        <section>
          <h1>Create & load sounds</h1>
          <p>code</p>
          <aside class="notes">
            <p>MDN docs of methods, functions, properties, events. I mean what even is a cent. Top tip - it's not a denomination of a currency.</p>
          </aside>
        </section>

        <section>
          <h1>Alter sounds</h1>
          <p>code</p>
          <aside class="notes">
            <p>MDN docs of methods, functions, properties, events. I mean what even is a cent. Top tip - it's not a denomination of a currency.</p>
          </aside>
        </section>

        <section>
          <h1>Analyse sounds</h1>
          <p>code</p>
          <aside class="notes">
            <p>MDN docs of methods, functions, properties, events. I mean what even is a cent. Top tip - it's not a denomination of a currency.</p>
          </aside>
        </section>

        <section>
          <h1>Modify global audio</h1>
          <p>code</p>
          <aside class="notes">
            <p>MDN docs of methods, functions, properties, events. I mean what even is a cent. Top tip - it's not a denomination of a currency.</p>
          </aside>
        </section>

        <section>
          <h1>Output</h1>
          <p>code</p>
          <aside class="notes">
            <p>Phew that was a *lot* of information!</p>
            <p>Here's a picture of my friend Ben</p>
          </aside>
        </section>

        <section>
          <h1>Ben</h1>
          <aside class="notes">
            <p>Ben wrote a thing called co js - it's a bit like codepen, jsbin, js fiddle. But specifically for a co-op environment. Workshops, hacks etc... I can code, you can ll watch, you can modify. My code remains. It's pretty cool.</p>
            <p>I'm going to use it...</p>
          </aside>
        </section>

        <section>
          <h1>URL</h1>
          <aside class="notes">
            <p>Shall we see all this in action?</p>
            <p>Copy basic code in - say what it's doing - then code some of the above.</p>
          </aside>
        </section>

        <section>
          <h1>Mario?</h1>
          <aside class="notes">
            <p>Shall we see all this in action?</p>
            <p>Copy basic code in - say what it's doing - then code some of the above.</p>
          </aside>
        </section>

        <section>
          <h1>MIDI</h1>
          <aside class="notes">
            <p>This is literally my favourite subject</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>This is not MIDI</h1>
          <aside class="notes">
            <p>A website playing background music - the modern version of which is something like this:</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>MIDI</h1>
          <aside class="notes">
            <p>MIDI came around in the early 80's. It was born from rise of papularity of electronic instruments in the 70's</p>
            <p>A group of industry experts and musical instrument manufacturers got together and thought wouldn't it be nice if we had a spec where instruments could all talk to each other.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>MIDI == data</h1>
          <aside class="notes">
            <p>Data protocal and a pretty basic one at that.</p>
            <p>The spec has moved on - 1->2. There have been other specs. DMX controls lighting heavily based on MIDI. Pyrotechnics use something similar too. There's a BLE spec, a polyphonic spec, visual spec.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>MIDI instruments</h1>
          <aside class="notes">
            <p>These are MIDI instruments. They have onboard audio. There's classic ones, synths, drum machines</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>MIDI Controllers</h1>
          <aside class="notes">
            <p>These are MIDI controllers. They're basically just hardware. No onboard audio. All these things send the same data - pretty much. You're playing a different thing and pressing different buttons, so they're sending different values - but, same thing.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>Wed MIDI API</h1>
          <aside class="notes">
            <p>This is the Web MIDI API. You detect things that are plugged in, grant access and then detect events coming in</p>
            <p>By the way - if you want to hardware enable your browser, this is a great way to do it.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>Codepen value demo</h1>
          <aside class="notes">
            <p>This is the Web MIDI API. You detect things that are plugged in, grant access and then detect events coming in</p>
            <p>By the way - if you want to hardware enable your browser, this is a great way to do it.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>Brilliant</h1>
          <aside class="notes">
            <p>This is all brilliant. Everything you've seen is fun, exciting, makes you go and play and build crazy sythesisers.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>Reality - pop up</h1>
          <aside class="notes">
            <p>But what's the reality here. Let's talk - builder to builder. We would all luv the chance and time to learn and play and make all the amazing shiny things, but we have that website ot build or we have that app to build, or that prototype. How can we put *any* of this into reality?</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>Rule #1</h1>
          <aside class="notes">
            <p>Fuck it</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1><del>Rule #1</del> The only rule</h1>
          <h2 class="fragment fade-in">No background music on load</h2>
          <h2 class="fragment fade-in">No unsolicity music</h2>
          <aside class="notes">
            <p>Don't play music unless the user wants you to - or expects it.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>Let's be clever</h1>
          <div class="list-right">
            <ul>
              <li><h2 class="fragment fade-in">Hover & interactions</h2></li>
              <li><h2 class="fragment fade-in">Animations</h2></li>
              <li><h2 class="fragment fade-in">Loading</h2></li>
              <li><h2 class="fragment fade-in">User feedback</h2></li>
              <li><h2 class="fragment fade-in">Notifications</h2></li>
            </ul>
          </div>
          <aside class="notes">
            <p>Don't play music unless the user wants you to - or expects it.</p>
            <p>We can add sound to a UI without it being intrusive - in fact it can be used to enhance it</p>
            <p>Think about things like hover states, a nice loading sound, error or success sounds. Forms.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>Example no 1 - nice sound on website</h1>
          <aside class="notes">
            <p>Don't play music unless the user wants you to - or expects it.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>Example no 2 - my site</h1>
          <aside class="notes">
            <p>Don't play music unless the user wants you to - or expects it.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>Example no 3 - how I hear the css tricks header</h1>
          <aside class="notes">
            <p>Two important things before I leave you with your new found knowledge.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>This is a JavaScript API</h1>
          <h2>Also known as HTML5</h2>
          <aside class="notes">
            <p>It doesn't work without JavaScript. Don't make anything depend on sound. Unless you're making spotify in javascript - or a synth</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>Mute ability</h1>
          <aside class="notes">
            <p>Give the user the ability to turn in off/down etc...</p>
          </aside>
        </section>

 
        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>Go Forth&nbsp;&nbsp;|&nbsp;&nbsp;Make Noise</h1>
          <h1>Ruth John</h1>
          <h1>@Rumyra</h1>
          <h1>@LiveJS_Network</h1>
          <p>Thank You Very Much</p>
          <aside class="notes">
            <p>Thank you very much, I'm Ruth John</p>
            <p>All these examples you've seen are on codepen as part of codevember</p>
            <p>Find me on the internets, follow me - I'm trying to get more followers than a guy named Ben Foxall</p>
            <p>Go have a relax and I hope you had a lovely conference!</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>Resources</h1>
          <h3>@jsoxford hack photo: @spikeheap</h3>
          <aside class="notes">
            
          </aside>
        </section>

<!-- THIS IS IMPORTANT "0x" + x.toString(16); -->
      </section>
    </div></div>

    <div id="screen"></div>

<script src="reveal/plugin/notes/notes.js"></script>
<script src="reveal/plugin/highlight/highlight.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script src="scripts/audioVisual.js"></script>

<script type="text/javascript">
// Reveal~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Reveal.initialize({

  // The "normal" size of the presentation, aspect ratio will be preserved
  // when the presentation is scaled to fit different resolutions. Can be
  // specified using percentage units.
  width: 1024,
  height: 768,

  // Factor of the display size that should remain empty around the content
  margin: 0.1,

  // Bounds for smallest/largest possible scale to apply to content
  minScale: 0.2,
  maxScale: 1.5,

  center: false,

  // Display controls in the bottom right corner
  controls: false,

  // Display a presentation progress bar
  progress: false,

  // Display the page number of the current slide
  slideNumber: false,

  // Push each slide change to the browser history
  history: true,

  // Enable keyboard shortcuts for navigation
  keyboard: true,

  // Transition style
  transition: 'fade', // none/fade/slide/convex/concave/zoom

  // Transition speed
  transitionSpeed: 'default', // default/fast/slow

  // Transition style for full page slide backgrounds
  backgroundTransition: 'default', // none/fade/slide/convex/concave/zoom

  // Number of slides away from the current that are visible
  viewDistance: 2,

  // Parallax background image
  parallaxBackgroundImage: '', // e.g. "'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg'"

  // Parallax background size
  parallaxBackgroundSize: '', // CSS syntax, e.g. "2100px 900px"

  // Amount to move parallax background (horizontal and vertical) on slide change
  // Number, e.g. 100
  parallaxBackgroundHorizontal: '',
  parallaxBackgroundVertical: ''

});


window.addEventListener('keyup', function(e) {
  if (e.keyCode === 86) {
    document.getElementById('akai').play();
  }
}, false);

// set which animation to show
let currentAnimation = 'vis_speakers',
  allEls,
  totalEls,
  animateDom = function() {},
  useMic = false;

// spectrum
Reveal.addEventListener( 'vis_speakers', function(ev) {
  screen.style.display = 'block';
  currentAnimation = ev.type;

  screen.innerHTML = '<section class="vis-speakers"><div><img src="images/speakersAU/01.jpg" /></div><div><img src="images/speakersAU/02.jpg" /></div><div><img src="images/speakersAU/03.jpg" /></div><div><img src="images/speakersAU/04.jpg" /></div><div><img src="images/speakersAU/05.jpg" /></div><div><img src="images/speakersAU/06.jpg" /></div><div><img src="images/speakersAU/07.jpg" /></div><div><img src="images/speakersAU/08.jpg" /></div><div><img src="images/speakersAU/09.jpg" /></div><div><img src="images/speakersAU/10.jpg" /></div></section>';
  allEls = document.querySelectorAll('#screen div');
  totalEls = allEls.length;

  animateDom = function() {
    for (let i=0; i<totalEls; i++) {
      //style i
      allEls[i].style.backgroundColor = 'hsla('+i*40+',30%,50%,1)';

      var freqOp = (frequencyData[i*4]/255)+0.1;
      allEls[i].style.opacity = freqOp;
      allEls[i].style.filter = 'contrast('+(freqOp+1)+')';
    }
  }
}, false);

// spectrum
Reveal.addEventListener( 'vis_spectrum_sound', function(ev) {
  screen.style.display = 'block';
  currentAnimation = ev.type;

  screen.innerHTML = '<section class="vis-spectrum"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></section>';
  allEls = document.querySelectorAll('#screen i');
  totalEls = allEls.length;

  animateDom = function() {
    for (let i=0; i<totalEls; i++) {
      //style i
      allEls[i].style.backgroundColor = 'hsla('+i*20+',50%,50%,0.9)';
      allEls[i].style.border = '1px solid hsla('+i*20+',50%,50%,1)';

      var freqVol = frequencyData[i*3]/4;
      allEls[i].style.height = freqVol+'vh';
    }
  }
}, false);

// spectrum
Reveal.addEventListener( 'vis_vjing', function(ev) {
  screen.style.display = 'block';
  currentAnimation = ev.type;

  screen.innerHTML = '<div id="two-screens"><section class="vis-spectrum"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></section><section class="vis-speakers"><div><img src="images/speakersAU/01.jpg" /></div><div><img src="images/speakersAU/02.jpg" /></div><div><img src="images/speakersAU/03.jpg" /></div><div><img src="images/speakersAU/04.jpg" /></div><div><img src="images/speakersAU/05.jpg" /></div><div><img src="images/speakersAU/06.jpg" /></div><div><img src="images/speakersAU/07.jpg" /></div><div><img src="images/speakersAU/08.jpg" /></div><div><img src="images/speakersAU/09.jpg" /></div><div><img src="images/speakersAU/10.jpg" /></div></section></div>';
  var allElsOne = document.querySelectorAll('.vis-spectrum i');
  var totalElsOne = allElsOne.length;
  var allElsTwo = document.querySelectorAll('.vis-speakers div');
  var totalElsTwo = allElsTwo.length;
  var screenOne = document.querySelector('.vis-spectrum');
  var screenTwo = document.querySelector('.vis-speakers');
  screenTwo.style.opacity = 0;

  animateDom = function() {
    for (let i=0; i<totalElsOne; i++) {
      //style i
      allElsOne[i].style.backgroundColor = 'hsla('+i*20+',50%,50%,0.9)';
      allElsOne[i].style.border = '1px solid hsla('+i*20+',50%,50%,1)';

      var freqVol = frequencyData[i*3]/4;
      allElsOne[i].style.height = freqVol+'vh';
    }
    for (let i=0; i<totalElsTwo; i++) {
      //style i
      allElsTwo[i].style.backgroundColor = 'hsla('+i*40+',30%,50%,1)';

      var freqOp = (frequencyData[i*4]/255)+0.1;
      allElsTwo[i].style.opacity = freqOp;
      allElsTwo[i].style.filter = 'contrast('+(freqOp+1)+')';
    }

    if (data[0] === 176) {
      screenTwo.style.opacity = (data[2]/127);
      screenOne.style.opacity = 1-(data[2]/127);
    }

    if (data[0] === 144 && data[1] === 4) {
      if (data[2] === 64) {
        screenOne.style.background = 'white';
        screenTwo.style.background = 'white';
      } else if (data[2] === 0) {
        screenOne.style.background = 'transparent';
        screenTwo.style.background = 'transparent';
      }
    }
  }
}, false);

// bridget squares
Reveal.addEventListener( 'vis_bridget_squares', function(ev) {
  screen.style.display = 'block';
  currentAnimation = ev.type;

  screen.innerHTML = '<section class="vis-bridget-squares"><section></section><section></section><section></section><section></section><section></section><section></section><section></section><section></section><section></section><section></section><section></section><section></section><section></section><section></section><section></section><section></section></section>';
  allEls = document.querySelectorAll('.vis-bridget-squares section');
  totalEls = allEls.length;

  animateDom = function() {
    for (let i=0; i<totalEls; i++) {

      var freqVol = frequencyData[i*2];

      if (freqVol <= 255 && freqVol > 150) {
        allEls[i].style.flex = 2;
      } else if (freqVol <= 150 && freqVol > 90) {
        allEls[i].style.flex = 1.5;
      } else if (freqVol <= 90 && freqVol > 40) {
        allEls[i].style.flex = 0.5;
      } else { //50 or below
        allEls[i].style.flex = 1;      
      }
    }
  }
}, false);

// bridget squares
Reveal.addEventListener( 'vis_bridget_tri', function(ev) {
  screen.style.display = 'block';
  currentAnimation = ev.type;

  screen.innerHTML = '<section class="vis-bridget-tri"><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b></section>';
  allEls = document.querySelectorAll('.vis-bridget-tri b');
  totalEls = allEls.length;

  animateDom = function() {
    for (let i=0; i<totalEls; i++) {
      var freqVol = frequencyData[i*2];

      if (freqVol > 50) {
        allEls[i].style.opacity = freqVol/150;
      } else {
        allEls[i].style.opacity = 0;
      }
    }
  }
}, false);

function createQuarter(fragment, screen) {

  // create a new 'quarter', set styles
  let quarterEl = document.createElement('div');
  quarterEl.classList = 'quarter';
  quarterEl.style.width = '50vw';
  quarterEl.style.height = '50vh';
  quarterEl.style.overflow = 'hidden';

  // duplicate original fragment to be mirrored in quarter
  let newHtml = fragment.outerHTML+fragment.outerHTML;
  quarterEl.innerHTML = newHtml;
  screen.removeChild(fragment);
  screen.appendChild(quarterEl);

  // rotate and set styles on new fragments within quarter
  let newFragments = document.querySelectorAll('.quarter '+fragment.localName);
  for (let i = newFragments.length - 1; i >= 0; i--) {
    newFragments[i].style.width = '50vw';
    newFragments[i].style.height = '50vh';
  }
  newFragments[1].style.transform = 'translateY(-50vh) rotateZ(180deg)';

  // rotate quarter
  for (var i=3-1; i>=0; i--) {
    let nextQuarter = quarterEl.cloneNode(true);
    screen.appendChild(nextQuarter);
  }
  const allQuarters = document.querySelectorAll('.quarter');
  for (var i=allQuarters.length-1; i>0; i--) {
    allQuarters[i].style.transform = 'translateY('+i*-50+'vh) rotateZ('+i*90+'deg)';
    allQuarters[i].style.transformOrigin = 'right bottom';
  }
  
}

// symmetry
Reveal.addEventListener( 'vis_symmetry', function(ev) {
  screen.style.display = 'block';
  currentAnimation = ev.type;

  screen.innerHTML = '<section class="vis-symmetry"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></section>';
  
  // set which element to be symmetry'd
  const fragmentedSection = document.querySelector('.vis-symmetry');

  createQuarter(fragmentedSection, screen);

  animateDom = function() {
    document.documentElement.style.setProperty('--level', frequencyData[5]/220);
  }
}, false);
// symmetry gif
Reveal.addEventListener( 'vis_symmetry_gif', function(ev) {
  screen.style.display = 'block';
  currentAnimation = ev.type;

  screen.innerHTML = '<section class="vis-symmetry-gif"><img src="images/explode.gif" /></section>';
  
  // set which element to be symmetry'd
  const fragmentedSection = document.querySelector('.vis-symmetry-gif');

  createQuarter(fragmentedSection, screen);

  animateDom = function() {
    document.documentElement.style.setProperty('--level', frequencyData[5]/220);
  }
}, false);

// sunburst
Reveal.addEventListener( 'vis_sunburst', function(ev) {
  screen.style.display = 'block';
  currentAnimation = ev.type;

  screen.innerHTML = '<section class="vis-sunburst"><svg></svg></section>';
  
  var width = window.innerWidth,
    height = window.innerHeight,
    radius = Math.min(width, height) / 2;

  var svg = d3.select("svg")
    .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height * .52 + ")");
  var g = d3.select("g");
  var arcs = g.selectAll("path");

  var arc = d3.svg.arc()
    .startAngle(function(d, i) { return (i/8)*Math.PI; })
    .endAngle(function(d, i) { return ((i+1)/8)*Math.PI; })
    .innerRadius(function(d, i) { return radius/3; })
    .outerRadius(function(d, i) { return d*2; });

  animateDom = function() {
    arcs = arcs.data(frequencyData.slice(0,32));

    arcs
      .enter().append("path")
      .style("stroke", "#fff");

    arcs
      .attr("d", arc)
      .style("fill", function(d,i) { return 'hsla('+i*6+',60%,'+Math.floor(d/2.5)+'%,'+d/255+')'; })
      .exit().remove();
  }
}, false);

// spiral
Reveal.addEventListener( 'vis_spiral', function(ev) {
  screen.style.display = 'block';
  currentAnimation = ev.type;

  screen.innerHTML = '<section class="vis-spiral"><svg></svg></section>';
  
  var width = window.innerWidth,
    height = window.innerHeight,
    radius = Math.min(width, height) / 2;

  var svg = d3.select("svg")
    .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height * .52 + ")");
  var g = d3.select("g");
  var arcs = g.selectAll("path");

  var arc = d3.svg.arc()
    .startAngle(function(d, i) { return (i/8)*Math.PI; })
    .endAngle(function(d, i) { return ((i+1)/8)*Math.PI; })
    .innerRadius(function(d, i) { return 0; })
    .outerRadius(function(d, i) { return (i*15)+(d); });

  animateDom = function() {
    arcs = arcs.data(frequencyData.slice(0,32));

    arcs
      .enter().append("path")
      .style("stroke", "#222");

    arcs
      .attr("d", arc)
      .style("fill", function(d,i) { return 'hsla('+i*6+',60%,'+Math.floor(d/2.5)+'%,'+d/255+')'; })
      .exit().remove();
  }
}, false);

// spots
Reveal.addEventListener( 'vis_spots', function(ev) {
  screen.style.display = 'block';
  currentAnimation = ev.type;

  screen.innerHTML = '<section class="vis-spots"><svg></svg></section>';
  
  var svg = d3.select('svg');
  var circle = svg.selectAll('circle'),
    line = svg.selectAll('line'),
    radius = window.innerHeight/2.5-50;

  animateDom = function() {
    circle = circle.data(frequencyData.slice(0,24));
  
    circle
      .enter().append('circle')
      .attr("cy", function(d, i) {
        // return Math.round( () + (i*Math.random) );
        return Math.round(window.innerHeight*Math.random());
      })
      .attr("cx", function(d, i) {
        // return Math.round( () + (i*Math.random) );
        return Math.round(window.innerWidth*Math.random());
      });
    
    circle
      .attr("r", function(d, i) { return ((d/2)*(i/2))+i*2; })
      .attr("fill", function(d,i) {return "hsla("+Math.round( i*(20+(d/255)) )+",50%,60%,0.7)"} )
      .attr("stroke","white")
      .exit().remove();
    }

}, false);

// spots blend
Reveal.addEventListener( 'vis_spots_blend', function(ev) {
  screen.style.display = 'block';
  currentAnimation = ev.type;

  screen.innerHTML = '<section class="vis-spots-blend"><svg></svg></section>';
  
  var svg = d3.select('svg');
  var circle = svg.selectAll('circle'),
    line = svg.selectAll('line'),
    radius = window.innerHeight/2.5-50;

  animateDom = function() {
    circle = circle.data(frequencyData.slice(0,24));
  
    circle
      .enter().append('circle')
      .attr("cy", function(d, i) {
        // return Math.round( () + (i*Math.random) );
        return Math.round(window.innerHeight*Math.random());
      })
      .attr("cx", function(d, i) {
        // return Math.round( () + (i*Math.random) );
        return Math.round(window.innerWidth*Math.random());
      });
    
    circle
      .attr("r", function(d, i) { return ((d/2)*(i/2))+i*2; })
      .attr("fill", function(d,i) {return "hsla("+Math.round( i*(20+(d/255)) )+",50%,60%,0.7)"} )
      .attr("stroke","white")
      .exit().remove();
    }
      
}, false);


// chart
Reveal.addEventListener( 'vis_chart', function(ev) {
  screen.style.display = 'block';
  currentAnimation = ev.type;

  screen.innerHTML = '<section class="vis-chart"><svg></svg></section>';
  
  var svg = d3.select('svg');
  var circle = svg.selectAll('circle'),
    line = svg.selectAll('line'),
    radius = window.innerHeight/2.5-50;

  animateDom = function() {

    circle = circle.data(newFreq);
  
    circle
      .enter().append('circle')
      .attr("cy", function(d, i) {
        return Math.round(window.innerHeight/2 + (radius*Math.sin((2*i*Math.PI)/16)) );
      })
      .attr("cx", function(d, i) {
        return Math.round(window.innerWidth/2 + (radius*Math.cos((2*i*Math.PI)/16)) );
      });
    
    circle
      .attr("r", function(d) { return d/2; })
      .attr("fill", "hsla(200,50%,80%,0.7)")
      .exit().remove();

    line = line.data(frequencyData);

    line
      .enter().append('line')
      .attr("x1", function(d, i) {
        return Math.round(window.innerWidth/2 + (radius*Math.cos((2*i*Math.PI)/16)) );
      })
      .attr("y1", function(d, i) {
        return Math.round(window.innerHeight/2 + (radius*Math.sin((2*i*Math.PI)/16)) );
      })
      .attr("stroke-width","3")
      .attr("stroke","hsla(320,60%,50%,0.9)");
    line
      .attr("x2",function(d, i) {
        return Math.round(window.innerWidth/2 + ( (radius-d)*Math.cos((2*i*Math.PI)/16)) );
      })
      .attr("y2",function(d, i) {
        return Math.round(window.innerHeight/2 + ( (radius-d)*Math.sin((2*i*Math.PI)/16)) );
      })
      .exit().remove();
  }
      
}, false);

// chart
Reveal.addEventListener( 'vis_chart_better', function(ev) {
  screen.style.display = 'block';
  currentAnimation = ev.type;

  screen.innerHTML = '<section class="vis-chart-better"><svg></svg></section>';
  
  var svg = d3.select('svg');
  var circle = svg.selectAll('circle'),
    line = svg.selectAll('line'),
    radius = window.innerHeight/2.5-50;

  animateDom = function() {
      circle = circle.data(frequencyData.slice(0,16));
  
    circle
      .enter().append('circle')
      .attr("cy", function(d, i) {
        return Math.round(window.innerHeight/2 + (radius*Math.sin((2*i*Math.PI)/16)) );
      })
      .attr("cx", function(d, i) {
        return Math.round(window.innerWidth/2 + (radius*Math.cos((2*i*Math.PI)/16)) );
      });
    
    circle
      .attr("r", function(d) { return d/2; })
      .attr("fill", "hsla(200,50%,80%,0.7)")
      .exit().remove();

    line = line.data(frequencyData);

    line
      .enter().append('line')
      .attr("x1", function(d, i) {
        return Math.round(window.innerWidth/2 + (radius*Math.cos((2*i*Math.PI)/16)) );
      })
      .attr("y1", function(d, i) {
        return Math.round(window.innerHeight/2 + (radius*Math.sin((2*i*Math.PI)/16)) );
      })
      .attr("stroke-width","3")
      .attr("stroke","hsla(320,60%,50%,0.9)");
    line
      .attr("x2",function(d, i) {
        return Math.round(window.innerWidth/2 + ( (radius-d)*Math.cos((2*i*Math.PI)/16)) );
      })
      .attr("y2",function(d, i) {
        return Math.round(window.innerHeight/2 + ( (radius-d)*Math.sin((2*i*Math.PI)/16)) );
      })
      .exit().remove();
  }
      
}, false);




Reveal.addEventListener( 'no-visuals', function() {
  screen.style.display = 'none';
}, false);

</script>


</body>
</html>