<!DOCTYPE html>
<html lang="en">
<head>
  <!--char set (lang above)-->
  <meta charset="utf-8">

  <!--device/browser shizzle-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--meta content-->
  <link rel="shortcut icon" href="favicon.ico" />
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Ruth John for Rumyra Ltd, United Kingdom, 2015">
  <title>The Web Audio API</title>

  <link rel="stylesheet" href="reveal/css/reveal.css">
  <link rel="stylesheet" href="reveal/css/theme/rumyra.css" id="theme">
  <link rel="stylesheet" href="reveal/lib/css/eighties.css">
  <script src="reveal/js/reveal.js"></script>
  <script src="scripts/d3.min.js"></script>

  <!-- <script src="https://js.pusher.com/3.0/pusher.min.js"></script> -->
  <!-- <link rel="stylesheet" href="visuals.css"> -->

  <!--<style type="text/css">
    #screen {
      position: absolute; top:0px; left:0px;
      margin: 0px; padding: 0px;
      width:100vw; height:100vh;
      background-color: black;
      display: none;
    }
    svg {width: 100vw; height: 100vh; padding:0px; margin:0px;}
  </style>-->
  
</head>

<!--
$brown: #463c34
$green: #acc486
$orange: #ea8d88
$purple: #8c4c6f

$cream: #eee5c4
$grey: #bebebe
-->

<body class="talk">
  <div class="reveal">
    <div class="slides">
      <section>

        <section data-background-color="#8c4c6f">
          <h1>Web Audio</h1>
          <h2>& a little MIDI</h2>
          <p>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</p>
          <aside class="notes">
          </aside>
        </section>

        <!--COOL DEMO HERE-->
        <!-- <section data-background-color="#8c4c6f" data-state="vis_speakers">
          <audio src="media/warren.m4a" data-autoplay></audio>
          <aside class="notes">
            <p>DANCE!</p>
          </aside>
        </section> -->

        <section data-background-color="#8c4c6f" data-background-image="media/talk2med.jpg">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>Hello</p>
          <aside class="notes">
            <p>Hey! Web API Day!</p>
            <p>Speak slowly</p>
            <p>So this is the part of the talk where I introduce myself, and tell you what my job title is... </p>
            <p>My name is Ruth, I'm here to talk to u about audio & midi, on the web.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/meProject.jpg">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>Street VJ</p>
          <aside class="notes">
            <p>This is me projecting visuals around my city. With a laptop, a projector, a midi controller and hand coded browser software.</p>
            <p>AKA Legacy FED</p>
            <p>How long I've been doing this for...</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/meLights.jpg">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>~ 15 Years</p>
          <aside class="notes">
            <p>How long is a string of audio reactive LEDs</p>
            <p>This is me at a hardware hackday I run with my friend Gordon, making a string of lights flash in time to sound</p>
            <p>And of course the clients I work with...</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/paddle.jpg">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>Hello</p>
          <aside class="notes">
            <p>And this is me paddle boarding in Australia with Bobby the dog.</p>
            <p>Yup totally qualified to talk about the whole of the web audio API...</p>
            <p>And really the WHOLE - I mean it's a huge spec. Just to put it into perpective:</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-video="media/specScroll.mp4">
          <aside class="notes">
            <!--video of web audio spec-->
            <p>It's a spec unto itself really - by the way the length of that video before I sped it up was 2 1/2 mins!</p>
            <p>But don't worry we have mdn docs is probably better for learning...</p>
          </aside>
        </section>


        <section data-background-color="#eee5c4" data-background-video="media/mdnDocs.mp4">
          <aside class="notes">
            <p>MDN docs of methods, functions, properties, events. I mean what even is a cent. Top tip - it's not a denomination of a currency.</p>
            <p>Was this article helpful? To be honest it actually is. These docs are the most helpful. Go here.</p>
            <p>And because it's so big you can do so much cool stuff with it...</p>
          </aside>
        </section>
        <!-- it's amazing u can do cool stuff with it-->

        <section data-background-color="#eee5c4" data-background-video="media/chord.mp4">
          <aside class="notes">
            <p>This is Jake Alburgh's appegiator - it's on codepen. It's such a simple idea, but it's illustrates soemthing so perfectly. The match between maths and music. I'm not going to go into it - but you should really check it out.</p>
            <p>It also illustrates the amazing things you can do with the audio api</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background-video="media/block.mp4">
          <aside class="notes">
            <p>This is blokdust. Built by Luke Twyman, Luke Phillips and Edward Silverton in Brighton.</p>
            <p>It's well mental. A beautiful interface for a synth - you just pull things in, sound inputs, add effects, chain them together and output them. You can add controls.</p>
            <p>Note this interface - it'll be important later.</p>
            <p>And it's not just synths & appediators - there's art too</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background-image="media/piano.jpg">
          <aside class="notes">
            <p>This is piano - an art installation built with three.js and p5.js by Patrik Hubner - it harnesses web audio and web midi.</p>
            <p>An audio visualisation is displayed in a window and MIDI controller used to by passers by to interact with it.</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background-image="media/roland808.png" data-transition="none">
          <aside class="notes">
            <p>There's this guy - Gregor Adams - he built an roland 808 to celebrate 808 followers on codepen, that was cool. And it's not just him, there's a growing trend I mean there are all these</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background-image="media/novation.png" data-transition="none">
          <aside class="notes">
            <p>synth</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background-image="media/viktor.png" data-transition="none">
          <aside class="notes">
            <p>the</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background="media/html909.png" data-transition="none">
          <aside class="notes">
            <p>sis</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background="media/mod.png" data-transition="none">
          <aside class="notes">
            <p>sers</p>
            <p>There are all these fabulous things being built with the web audio api</p>
            <p>We'll get to what a sythesiser is later in the talk... but for now, back to audio... web audio. I mean look at this where do you even begin, it's big, it's complicated, you have to have a background in audio to begin to understand it.</p>
            <p>And people are reluctant to use audio on the web. When ever you mention audio on websites you imagine this...</p>
          </aside>
        </section>

        <!-- people are relunctant to use it on the web -->
        <section data-background-color="#eee5c4" data-background-video="media/cameronsworld.mp4">
          <aside class="notes">
            <p>A website playing background music - the modern version of which is something like this:</p>
            <p>Real website - camerons worls</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background-video="media/annoy.mp4">
          <aside class="notes">
            <p>An annoying advert that autoplays - yes I know.</p>
            <p>http://afternooncareer.com/lp/int/uk/dn24/clx.htm</p>
            <p>If someone asks you to build this btw, stand up and walk away. You're a developer, there is work for you. Do the right thing. Stand up. Walk away.</p>
            <p>But actually there's some really great examples of audio just being used on plain ol' websites.</p>
          </aside>
        </section>

        <!-- I want to readdress this -->
        <section data-background-color="#eee5c4" data-background-image="media/abletonSite.jpg">
          <!-- ableton learn music -->
          <p>learningmusic.ableton.com</p>
          <aside class="notes">
            <p>Ableton just launched this website giving users an overview to learn music.</p>
            <p>Sure the subject matter is audio, but without the extensive functionality of the audio api this wouldn't be possible.</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background-video="media/futureLibrary.mp4">
          <!-- future library -->
          <p>futurelibrary.no</p>
          <aside class="notes">
            <p>This is my favourite, this is a project from Norway called future library, where they're growing a forest and getting authors to write books for every tree and every year.</p>
            <p>Sounds are playing throughout, but it really enhances the experience.</p>
            <p>Mute fades it out</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background-video="media/86years.mp4">
          <!-- portfolio -->
          <p>86andahalfyears.com</p>
          <aside class="notes">
            <p>This is 86 and half years. A story website about the musings of an 86 1/2 yesr old man. But presented so excellently.</p>
            <p>None of the sounds on these websites are intrusive, they enhance the experience, these aren't websites you flick to, you sit and discover them. There is a place for audio.</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background-image="media/mute.jpg">
          <div class="list-left">
            <h1>Mute 👍</h1>
            <!-- <ul>
              <li><h2>Time</h2></li>
              <li class="fragment fade-in"><h2>Buffer</h2></li>
              <li class="fragment fade-in"><h2>Oscillator</h2></li>
              <li class="fragment fade-in"><h2>Panner</h2></li>
              <li class="fragment fade-in"><h2>Reverb, Compressor, Gain, Delay</h2></li>
            </ul> -->
          </div>
          <div class="list-right">
            <h1>No mute @ intro 👎</h1>
            <!-- <ul>
              <li><h2>Time</h2></li>
              <li class="fragment fade-in"><h2>Buffer</h2></li>
              <li class="fragment fade-in"><h2>Oscillator</h2></li>
              <li class="fragment fade-in"><h2>Panner</h2></li>
              <li class="fragment fade-in"><h2>Reverb, Compressor, Gain, Delay</h2></li>
            </ul> -->
          </div>
          <!-- mute controls -->
          <aside class="notes">
            <p>Forest has a mute control</p>
            <p>Years doesn't - although at the start it does say, best experience with headphones.</p>
            <p>Both very thoughtful features. We'll get back to mute in a minute because</p>
            <p>So I wanted to take out the more practical parts of the audio api - there's simply not enough time to go through it all. So as an introduction, let's have a quick overview of digital audio, as I think that will help.</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4">
          <h1>Digital Audio</h1>
          <p>A little lesson</p>
          <aside class="notes">
            <p>I'm sure everyone here is aware sound travels through meaterial as waves.</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4">
          <h1>Sound wave</h1>
          <h1>Sine Wave</h1>
          <svg id="wave-graph"></svg>
          <aside class="notes">
            <p>You've probably seen a dipiction of a sound wave that looks a little something like this - this is what we call a sine wave, it's a nice pure wave, a nice pure sound.</p>
            <p>On the x axis is time and the y axis is amplitude, or volume.</p>
            <p>You might have more than one wave, one at a different frequency. (higher freq higher pitch). If we added them together we'd get a wave that looks something like this.</p>
            <p>In reality, sounds aren't likely to be this pure - as I'm talking to you - the sound my voice makes is made up of lots and lots of waves, some of which will be distorted, there maybe other sounds around you too, if you add all of these together you get something like this.</p>
            <p>Now what we do when we record this digitally, is we take the amplitude value at a given time, we record that and that's what we're interpreting when we're playing it back.</p>
            <p>So for example a # wav, would record 48,000 amplitude values per second. Essentially the nitty gritty is an audio track is just numbers.</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4">
          <h1>Loading & Playing Sounds</h1>
          <aside class="notes">
            <p>Now let's say you want to load a sound to use - this can be for anything, website, app, your crazy synth, you have to make sure the audio api can understand this data</p>
            <p>So here comes the code - are you ready? The first thing we have to do is create an instance of the api to use it</p>
          </aside>
        </section>

        <!-- create new audio api - recording studio -->
        <section data-background-color="#463c34">
          <h1>Audio Context</h1>
          <pre><code class="js">const context = new window.AudioContext</code></pre>
          <aside class="notes">
            <p>A concept to understand when you are working with web audio is the context</p>
            <p>This is sort of the area where everything happens.</p>
            <p>Think of it like a sound track. You have a start, middle, end. You have loads of intruments, there's volume, effects, soundscape. This is the context you're instantiating.</p>
            <p>prefix still needed in safari everyone</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
        <h1>Loading Sounds</h1>
        <pre><code data-trim class="js">// DOM (audio, video element)
const mediaSource = context.createMediaElementSource(element);

// Streams (data, camera, mic)
const streamSource = context.createMediaStreamSource(stream);

// Buffer (file, data)
fetch('soundFile.mp4')
  // read into memory as array buffer
  .then(response => response.arrayBuffer())
  // turn into raw audio data
  .then(arrayBuffer => context.decodeAudioData(arrayBuffer))
  // then play (see https://jakearchibald.com/2016/sounds-fun/)
          </code></pre>
          <aside class="notes">
            <p>Let's start with loading sounds - on a website this is important.</p>
            <p>There are three main ways of loading sounds into this context.</p>
            <p>buffers are containers data - samples. sample rate. create your own</p>
            <p>With the top two we by pass the buffer stuff, but there's no preload - when we fetch the file in the last method we load it into memory and get retreive it at any time. As a rule top one for not many and long tracks. Middle for streams, last for lots of short sounds.</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
        <h1>Play Sounds</h1>
        <pre><code data-trim class="js">// connect to output
source.connect(context.destination);

source.start();

(see https://jakearchibald.com/2016/sounds-fun/)
          </code></pre>
          <aside class="notes">
            <p>Once you've got your sound we need to play it. This means connect it to the speakers and set it to play.</p>
            <p>There's a couple more destinations, speakers are default. There's stream destination using MediaStream API, so you can broadcast to peers with Web RTC, or save to file, or you can collect the data in a buffer.</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
        <h1>Play Sounds</h1>
        <button data-sound="arps">Arps</button>
          <aside class="notes">
            <p>Now using the code that we have just seen, I've done this. I've got a sound, I've loaded it into a buffer, attached it to an event listener so I can set it to play when the button is pressed.</p>
            <p>Great</p>
          </aside>
        </section>

        <section data-background-color="#463c34" data-background-image="media/aGraph1.png">
        <h1>Audio Graph & Nodes</h1>
        <!-- picture of graph here -->
          <aside class="notes">
            <p>So this is a representation of what we have just created. This is what we call an audio graph, it shows the parts of the audio scape we have. So far a source and destination. These boxes you can see joined together we call nodes and as we add more effects we will add more nodes to this graph.</p>
            <p>Let's say we want to add mute functionality - we can do that with a gain node.</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
        <h1>Gain Node</h1>
        <pre><code data-trim class="js">// create gain node
const gainNode = context.createGain();

// set value
gainNode.gain.value = 0;

// connect our nodes together
source.connect(gainNode).connect(context.destination);

source.start();
          </code></pre>
          <aside class="notes">
            <p>This controls volume. 0 value is nothing, 1 value is max. By setting it to 0 it will mute our audio.</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
        <h1>Mute Sounds</h1>
        <button data-sound="arps">Arps</button>
          <aside class="notes">
            <p>Now using the code that we have just seen, I've done this. I've got a sound, I've loaded it into a buffer, attached it to an event listener so I can set it to play when the button is pressed.</p>
            <p>Great</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/aGraph2.png">
        <h1>Our Audio Graph</h1>
        <!-- picture of graph here -->
          <aside class="notes">
            <p>Going back to our audio graph - this is what it looks like now. See it has our effect node in the middle, our gain node.</p>
          </aside>
        </section>

        <!-- portfolio example -->
        <!-- volume, anything else? Timing - jakes article - library -->

        <section data-background-color="#463c34">
          <h1>Alter sounds</h1>
          <pre><code data-trim class="js">// even out velocity
var compressor = context.createDynamicsCompressor();
// set values threshold, knee, ratio, reduction, attack, release

// delay sound
const delay = context.createDelay(5.0);

// panning
const simplePanner = context.createStereoPanner();

//const craSpacePanner = context.createPanner();
          </code></pre>
          <aside class="notes">
            <p>Here are some other simple nodes we can use to modify sounds.</p>
            <p>Ear is a clever thing, it can here very quiet sound & very loud sounds. It evens them out for you. It's a very good dynamic compressor.</p>
            <p>Panner takes into account distance, orientation adn 3D space. There's a whole bunch of params to set for this one - I strongly suggest looking at the docs.</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/howler.png" data-transition="none">
          <h1>howler.js</h1>
          <aside class="notes">
            <p>Howler is the big one - has everything I just spoke about, but it makes it easier to use and has cross platform support as well.</p>
            <p>It's a bit like the jquery of the audio api at the moment.</p>
            <p>Supports codecs, sound sprites etc...</p>
          </aside>
        </section>

        <!-- Other reasons u may use it -->
        <!-- Games & VR - very different things, but methods similar -->

        <section data-background-color="#463c34">
        <h1>Sound Spriting</h1>
        <!-- picture of graph here -->
          <aside class="notes">
            <p>This is the idea you actually have a lot of little sounds in one file, so you only have to load it once. A little like image spriting we're I'm sure we're all used to doing here.</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
        <h1>HTML Games & VR</h1>
        <!-- picture of graph here -->
          <aside class="notes">
            <p>It's pretty popular when making games, which heavily uses the web audio api.</p>
            <p>I've lumped this use case in with VR even tho they are slightly different things, in the cases of audio I can start talking aa api methods that both use.</p>
          </aside>
        </section>

        <!-- panning, spatialisation, sound spriting -->
        <section data-background-color="#463c34">
          <h1>Spatialisation</h1>
          <pre><code data-trim class="js">// create panner node
const soundSource = context.createPanner();
const listener = context.listener;

// grab representive dom els with their positions

// set positions on audio nodes

          </code></pre>
          <aside class="notes">
            <p>The panner node gives us a 3D sound scape to work with.</p>
            <p>For this you need a sound source - where sound is coming from and a listener, where it is picked up from.</p>
            <p>We can make sounds appear as if they are infront or you, above you, to the left to the right.</p>
          </aside>
        </section>
        <!-- VR example? or phone -->
        <section data-background-color="#463c34">
          <h1>Demo</h1>
          <pre><code data-trim class="js">// create panner node
3dSoundScape = context.createPanner();

// gives us...
          </code></pre>
          <aside class="notes">
            <p>A frame?</p>
          </aside>
        </section>
        <!-- phaser -->
        <section data-background-color="#ea8d88" data-background-image="media/phaser.png">
          <aside class="notes">
            <p>Phaser uses web audio - I don't think I need to talk about this - everyone is.</p>
            <p>It's pretty good, as far as I can tell. Has spacialisation, loading, sound spriting.</p>
          </aside>
        </section>

        <!-- But what if you do want to create your own sounds, or make your own sound machine - 4th way -->
        <section data-background-color="#463c34">
        <h1>Make Sounds</h1>
        <pre><code data-trim class="js">// waveform
const oscillator = context.createOscillator();
context.createPeriodicWave(params)
          </code></pre>
          <aside class="notes">
            <p>Instead of loading sounds, like we saw before, we can create them. There's an osciallator node. The sin wave you saw ealier, this can create one of those.</p>
            <p>It can also create a number of default waves (specifically ones that are easy to generate) - square, triangle and sawtooth.</p>
            <p>You can even make your own wave form to be generated.</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
        <h1>Oscillator</h1>
        <button data-sound="osc">Oscillator</button>
          <aside class="notes">
            <p>This is an oscillator - it doesn't really sound like much, but if we change a few params and add a gain like we did earlier we can do some fun stuff with it.</p>
            <p>Great</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
        <h1>Laser Demo</h1>
        <pre><code data-trim class="js">// code for frequency, oscillator type and gain
          </code></pre>
          <aside class="notes">
            <p>Here I'm harnessing all the functionalitly we get with the nodes I'm using - I can change the frequncy, ocillator type and add a gain node</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
        <h1>Laser</h1>
        <button data-sound="laser">Laser</button>
          <aside class="notes">
            <p>And simply with that we have a laser sound - super cool - there's plenty of others you can create this way.</p>
            <p>Great</p>
          </aside>
        </section>

        <!-- maybe put kick example in here -->

        <section data-background-color="#ea8d88" data-background-image="media/tuna.png" data-transition="none">
          <h1>Tuna</h1>
          <aside class="notes">
            <p>Tuna - sound effects library. Useful for games.</p>
            <p>The other way to create sounds is to create your own data for a buffer rather than an oscialltor.</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
        <h1>Buffers</h1>
        <pre><code data-trim class="js">// make your own!
const node = context.createBufferSource(),
  buffer = context.createBuffer(channels, frameCount, sampleRate),
  data = buffer.getChannelData(0);

for (var i = 0; i < 4096; i++) {
 data[i] = Math.random();
}

node.buffer = buffer;

// thanks http://www.justgoscha.com/programming/2014/04/08/creating-dynamic-audiobuffers-with-webaudio.html
          </code></pre>
          <aside class="notes">
            <!-- play noise here? -->
            <p>That audio buffer we passed the file data into earlier, to load the file. We don't have to load a file into a buffer, we can create that data ourselves. We know now it's just numbers.</p>
            <p>The loop you see in the code here creates numbers that when passed into the buffer and played play white noise.</p>
            <p>Are you ready it doesn't sound great.</p>
            <p>Pink noise is better than white noise, it's softer, it reduces the harsher tones, we can use a function for that, or we can use another of the built in methods the api gives us.</p>
            <p>And this is where we can really start to have some fun with the other filter nodes the api gives us.</p>
          </aside>
        </section>


        <section data-background-color="#463c34">
          <h1>Alter sounds</h1>
          <pre><code data-trim class="js">// filter/accentuate frequencies
const biquadFilter = context.audioCtx.createBiquadFilter();
biquadFilter.type = "lowpass";
biquadFilter.frequency.value = 500;

// manipulate waveform
const shaper = context.createWaveShaper();
shaper.curve = someCraMathsFunction();

// repeat buffer data
const reverb = context.createConvolver();
// fetch file to use as buffer or make here ...
reverb.buffer = bufferedFile;
          </code></pre>
          <aside class="notes">
            <p>Here are some ways to alter sounds - remember these can be used on any nodes.</p>
            <p>Biquad filter - algorithms on data - to enhance frequencies or filter them out. There's lots of types. High pass, low pass, high shelf, low sheif, peaking</p>
            <p>Defines an array of numbers to multiply to the sample</p>
            <p>often generated by recording a percussive noise or frequency sweep in a space. Does this all sound convoluted? Well, technically, it is!</p>
            <p>If we put a bandpass type biquad filter on the white noise it now sounds like this:</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
        <h1>Snare</h1>
        <button data-sound="snare">Snare</button>
          <aside class="notes">
            <p>Then if we do what we did before and add a little gain drop odd - boom, we got a snare!</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
          <h1>Timing</h1>
          <pre><code class="js">const now = context.currentTime</code></pre>
          <aside class="notes">
            <p>See loads of code!</p>
            <p>Timing is super important in audio. Whether you're just loading in and playing sounds, or you do want to take it further.</p>
            <p>In web audio we have this currentTime property on the context itself. It accesses the audio subsystems hardware clock.</p>
            <p>Long story short - we don't have to use javascript timing functions - which are dodgy.</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
          <h1>Timing</h1>
          <h2>context.currentTime</h2>
          <pre><code data-trim class="js">// current time loop code
          </code></pre>
          <aside class="notes">
            <p>The web audio Api has a currentTime property. This starts when you instigate the api right at the start, but it uses system hardware for the clock and can be used as a benchmark all the way through. So let's say we load in a hi hat sound. We can simple create a loop and using currentTime, we can play the hi hat four times equally ina loop.</p>
            <p>Music works like this, it has beats and these are mad eup into bars. Sometimes you have 4 beats in a bar, sometimes 3, sometimes two, sometimes 8 half beats. It's all just maths.</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
        <h1>Hi Hat</h1>
        <button data-sound="hh">Hi Hat</button>
          <aside class="notes">
            <p>Then if we do what we did before and add a little gain drop odd - boom, we got a snare!</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/tone.png" data-transition="none">
          <h1>tone.js</h1>
          <aside class="notes">
            <p>Tone js my favourite. Really complete, nice to use - loads of effects, timing functionality, instrumentation.</p>
            
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background-image="media/fistBump.gif">
          <aside class="notes">
            <p>Well done everyone - fist bump!</p>
            <p>Cos we haven't seen enough code right!</p>
            <p>So wait - I think we might have just created a sound, a laser, and a drum kit... it's almost like we've created a mini synth, in 35 minutes. Now I have 10 to control it!</p>
          </aside>
        </section>

        <!-- controlling -> hardware -->
        <!-- MIDI subject unto itself -->
        <!-- 10 min version... MIDI came about -->
        <!-- have it on the web -->
        <!-- press button demo -->
        <!-- demo with synth -->
        <section data-background-color="#acc486">
          <h1>MIDI</h1>
          <aside class="notes">
            <p>The web midi api is a different api altogether and I will explain why...</p>
            <p>This is literally my favourite subject</p>
            <p>This is not MIDI...</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-video="media/cameronsworld.mp4">
          <h1>This is not MIDI</h1>
          <aside class="notes">
            <p>Those bleepy noises, that is audio - that is what we just spent the talk doing, MIDI is simple data, a protocol built around musical instruments.</p>
          </aside>
        </section>

        <section data-background-color="#acc486">
          <h1>MIDI</h1>
          <h2>Musical Instrument</h2>
          <h2 class="fragment fade-in">Digital Interface</h2>
          <aside class="notes">
            <p>MIDI came around in the early 80's. It was born from rise of papularity of electronic instruments in the 70's</p>
            <p>A group of industry experts and musical instrument manufacturers got together and thought wouldn't it be nice if we had a spec where instruments could all talk to each other.</p>
            <p>So it's basically a data prototcol</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="media/techSpec.jpg">
          <h1>MIDI</h1>
          <h2 class="fragment fade-in">Data</h2>
          <aside class="notes">
            <p>Data protocal and a pretty basic one at that.</p>
            <p>The spec has moved on - 1->2. There have been other specs. DMX controls lighting heavily based on MIDI. Pyrotechnics use something similar too. There's a BLE spec, a polyphonic spec, visual spec.</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="media/midiToday.png">
          <aside class="notes">
            <p>BLE, polyphony - go and see</p>
            <p>Today there's more - I’m not going to go into every single spec, we simply don’t have enough time and also there’s parts that are more relevant to us as developers which you will see. If you want to find out more all the spec docs are on www.midi.org.</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="media/keyboard.jpg" data-transition="none">
          <aside class="notes">
            <p>These are MIDI instruments. They have onboard audio. There's classic ones, synths, drum machines</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="media/launchpad.jpg" data-transition="none">
          <aside class="notes">
            <p>This is a launchpad - probably one of the most popular MIDI controllers for developers - you might have seen one - it's an array of buttons - it sends similar data to what we werre seeing before</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="media/controllers.jpg" data-transition="none">
          <aside class="notes">
            <p>These are MIDI controllers. They're basically just hardware. No onboard audio.</p>
            <p>Back to the data (show you?)</p>
          </aside>
        </section>

        <!-- <section>
          <h2>Let me show you</h2>
          <p><a href="https://goo.gl/Hhv8up">https://goo.gl/Hhv8up</a></p>
          <p>Top</p>
          <aside class="notes">
            <p>The easiest way for me to explain this to you is for me to illustrate this to you. Let’s take probably one of the most common MIDI enabled instruments - a keyboard.</p>
          </aside>
        </section> -->

        <section data-background-color="#acc486">
          <h1>Demo</h1>
          <p data-height="697" data-theme-id="1345" data-slug-hash="NxdbzL" data-default-tab="result" data-user="Rumyra" data-embed-version="2" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/Rumyra/pen/NxdbzL/">Web MIDI API Example</a> by Rumyra (<a href="http://codepen.io/Rumyra">@Rumyra</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
          <aside class="notes">
            <p>So if I plug in a MIDI instrument or controller and instigate the web MIDI api in my brwoser - this is the data you'll get</p>
            <p>You should all see a keyboard - one of the most common MIDI enabled instruments. Now this is the data that the web MIDI api passes back to us when a MIDI device is plugged in. So let's take a look at the code.</p>
          </aside>
        </section>

        <section data-background-color="#acc486">
          <h1>Web MIDI API</h1>
          <h2>[144, 60, 100]</h2>
          <pre><code data-trim>// call requestMIDIAccess
navigator.requestMIDIAccess({ sysex: false }).then(onMIDISuccess, onMIDIFailure);

// on success of MIDI device recognised
function onMIDISuccess(midiControl) {
  var MIDI = midiControl;

  // log each input data
  MIDI.inputs.forEach(function (input) {
    console.log(input.onmidimessage.data)
  }
}
          </code></pre>
          <aside class="notes">
            <p>You make sure it’s avail, listen for attached device, when plugged in you can receive these afore mentioned messages. All I’m doing here is logging those messages - you can do whatever you want with them. Notice the sysex false - this is related to system messages and I will get back to that in a moment.</p>
            <p>Now there’s a window of opportunity - there’s plenty of stuff we can start coding with that!</p>
            <p>But what are these values?</p>
            <p>the first byte 144 is the message type and channel, 144 is 90 in hex and the 9 says it's a 'Note on' message and the 0 is the channel number. A 'Note on' message has two data bytes, the first is the 'key number' which I'm guessing is the note number, so 60 would be C the second is 'note on velocity' and this has a value of 100, - 0-127 (I'm guessing this means the rate at which the note is turned on)</p>
          </aside>
        </section>


        <section data-background-color="#8c4c6f" class="lists">
          <div class="list-right">
            <h1>Important bits?</h1>
            <ul>
              <li><h2>Loading sounds</h2></li>
              <li class="fragment fade-in"><h2>Buffers</h2></li>
              <li class="fragment fade-in"><h2>Nodes</h2></li>
              <li class="fragment fade-in"><h2>Time</h2></li>
              <li class="fragment fade-in"><h2>MIDI API</h2></li>
            </ul>
          </div>
          <aside class="notes">
            <p>Just a quick recap - loading sounds - don't forget streams, or simply pulling it from the DOM, these are more simple, so I didn't cover them in detail</p>
            <p>Buffers and it's really all about data</p>
            <p></p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>Audio Design</h1>
          <h2>in</h2>
          <h1>Web Design</h1>
          <aside class="notes">
            <p>think about sound - think about it as part of design, it can be something simple (forms), animation is always enhanced - it's 2017, we don't need horrible load blaring music when we land on a page, we have all this power at our fingertips to make it really mature</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>Go Forth&nbsp;&nbsp;|&nbsp;&nbsp;Make Noise</h1>
          <h1>Ruth John</h1>
          <h1>@Rumyra</h1>
          <p>Thank You Very Much</p>
          <aside class="notes">
            <p>Thank you very much, I'm Ruth John</p>
            <p>All these examples you've seen are on codepen as part of codevember</p>
            <p>Go have a relax and I hope you had a lovely conference!</p>
          </aside>
        </section>
        <!-- conslusion -->
        <!--  -->
        <!-- support for music file types -->

        




        <!-- <section data-background-color="#463c34">
          <h1>Analyse sounds</h1>
          <pre><code data-trim class="js">// frequency & time
const analyserNode = context.createAnalyser();

// larger for more resolution
analyser.fftSize = 1024;

var dataArray = new Uint8Array(2048);
// pass values into dataArray
analyser.getByteFrequencyData(dataArray);
          </code></pre>
          <aside class="notes">
            <p>This is my all time favourite feature. No doubt!</p>
            <p>We can anlayse frequency and time.</p>
          </aside>
        </section> -->

        
        <!-- <section data-background-color="#ea8d88" data-background-image="media/library.jpg">
          <h1>Audio Libraries</h1>
          <aside class="notes">
            <p>You're probably not gonna see much MIDI but audio is big in HTML games.</p>
            <p>This was actually quite tricky for me. I don't play games and if you google there's loads of Audio games - but they're not necessarily web.</p>
            <p>So I asked my friend.</p>
          </aside>
        </section> -->
        
        <section data-background-color="#8c4c6f" class="lists">
          <div class="list-right">
            <h1>Resources</h1>
            <ul>
              <li><h2><a href="https://www.html5rocks.com/en/tutorials/audio/scheduling/">Chris Wilson: A Tale of Two Clocks</a></h2></li>
              <li class="fragment fade-in"><h2><a href="https://www.html5rocks.com/en/tutorials/webaudio/games/">Boris Smus: Game Audio with Web Audio API</a></h2></li>
              <li class="fragment fade-in"><h2><a href="https://developer.mozilla.org/en-US/docs/Games/Techniques/Audio_for_Web_Games">MDN: Audio for Web Games</a></h2></li>
              <li class="fragment fade-in"><h2><a href="https://www.sitepoint.com/creating-accessible-breakout-game-using-web-audio-svg/">David Rousset: Accessible Breakout using Web Audio</a></h2></li>
            </ul>
          </div>
          <aside class="notes">
            <p>As well as the libraries I mentioned earlier there's a few articles worth noting</p>
            <p>Chris Wilson explains time really well</p>
            <p>A couple of articles on using the api for game dev - boris smus on html5 rocks and one on MDN</p>
          </aside>
        </section>

        

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>Credits</h1>
          <h3>@jsoxford hack photo: @spikeheap</h3>
          <h3>Apeggiator: https://codepen.io/jakealbaugh/pen/qNrZyw</h3>
          <h3>Blokdust: https://blokdust.com/</h3>
          <h3>Piano: https://www.patrik-huebner.com/portfolio-item/piano-3d-audio-reactive-typography/</h3>
          <aside class="notes">
            
          </aside>
        </section>

<!-- THIS IS IMPORTANT "0x" + x.toString(16); -->
      </section>
    </div></div>

    <div id="screen"></div>

<script src="reveal/plugin/notes/notes.js"></script>
<script src="reveal/plugin/highlight/highlight.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script src="scripts/talkEvents.js"></script>

<script type="text/javascript">
// Reveal~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


</script>


</body>
</html>