<!DOCTYPE html>
<html lang="en">
<head>
  <!--char set (lang above)-->
  <meta charset="utf-8">

  <!--device/browser shizzle-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--meta content-->
  <link rel="shortcut icon" href="favicon.ico" />
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Ruth John for Rumyra Ltd, United Kingdom, 2015">
  <title>The Web Audio API</title>

  <link rel="stylesheet" href="reveal/css/reveal.css">
  <link rel="stylesheet" href="reveal/css/theme/rumyra.css" id="theme">
  <link rel="stylesheet" href="reveal/lib/css/eighties.css">
  <script src="reveal/js/reveal.js"></script>
  <!-- <script src="scripts/d3.min.js"></script> -->

  <!-- <script src="https://js.pusher.com/3.0/pusher.min.js"></script> -->
  <!-- <link rel="stylesheet" href="visuals.css"> -->

  <!--<style type="text/css">
    #screen {
      position: absolute; top:0px; left:0px;
      margin: 0px; padding: 0px;
      width:100vw; height:100vh;
      background-color: black;
      display: none;
    }
    svg {width: 100vw; height: 100vh; padding:0px; margin:0px;}
  </style>-->
  
</head>

<!--
$brown: #463c34
$green: #acc486
$orange: #ea8d88
$purple: #8c4c6f

$cream: #eee5c4
$grey: #bebebe
-->

<body class="talk">
  <div class="reveal">
    <div class="slides">
      <section>

        <section data-background-color="#8c4c6f">
          <h1>Web Audio</h1>
          <h2>& a little MIDI</h2>
          <p>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</p>
          <aside class="notes">
          </aside>
        </section>

        <!--COOL DEMO HERE-->
        <!-- <section data-background-color="#8c4c6f" data-state="vis_speakers">
          <audio src="media/warren.m4a" data-autoplay></audio>
          <aside class="notes">
            <p>DANCE!</p>
          </aside>
        </section> -->

        <section data-background-color="#8c4c6f" data-background-image="media/talk2med.jpg">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>Hello</p>
          <aside class="notes">
            <p>Hey! Web API Day!</p>
            <p>Speak slowly</p>
            <p>So this is the part of the talk where I introduce myself, and tell you what my job title is... </p>
            <p>My name is Ruth, I'm here to talk to u about audio & midi, on the web.</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/meProject.jpg">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>Street VJ</p>
          <aside class="notes">
            <p>This is me projecting visuals around my city. With a laptop, a projector, a midi controller and hand coded browser software.</p>
            <p>AKA Legacy FED</p>
            <p>How long I've been doing this for...</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/meLights.jpg">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>~ 15 Years</p>
          <aside class="notes">
            <p>How long is a string of audio reactive LEDs</p>
            <p>This is me at a hardware hackday I run with my friend Gordon, making a string of lights flash in time to sound</p>
            <p>And of course the clients I work with...</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/paddle.jpg">
          <h1>Ruth John&nbsp;&nbsp;|&nbsp;&nbsp;@Rumyra</h1>
          <p>Hello</p>
          <aside class="notes">
            <p>And this is me paddle boarding in Australia with Bobby the dog.</p>
            <p>Yup totally qualified to talk about the whole of the web audio API...</p>
            <p>And really the WHOLE - I mean it's a huge spec. Just to put it into perpective:</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-background-image="media/paddle.jpg">
          <aside class="notes">
            <!--video of web audio spec-->
            <p>And this is me paddle boarding in Australia with Bobby the dog.</p>
            <p>Yup totally qualified to talk about the whole of the web audio API...</p>
          </aside>
        </section>


        <section data-background-color="#eee5c4" data-background-video="media/mdnDocs.mp4">
          <aside class="notes">
            <p>MDN docs of methods, functions, properties, events. I mean what even is a cent. Top tip - it's not a denomination of a currency.</p>
            <p>Was this article helpful? To be honest it actually is. These docs are the most helpful. Go here.</p>
            <p>So I've popped all these into categories for you, and I'm going to take you through them. I'm not going to cover every single parameter? of every method in depth, or go into signal processing in depth, we simply don't have the time and audio is a huge topic. I'm here to talk about the web audio API, you wanna talk about any other thing, come find me after. Please :)</p>
          </aside>
        </section>

        <!-- it's amazing u can do cool stuff with it-->
        <!-- people are relunctant to use it on the web -->
        <!-- I want to readdress this -->
        <!-- let's start with the practical stuff, what do u need to know to use it to it's full advantage ona  website -->
        <!-- let's begin with a little lesson about digital audio -->
        <!-- now let's say you want to load a sound to use - this can be for anything, website, app, your crazy synth, you have to make sure the audio api can understand this data -->
        <!-- create new audio api - recording studio -->
        <!-- learn saving data -->
        <!-- example of hover, or menu or something -->
        <!-- portfolio example -->
        <!-- volume, anything else? Timing - jakes article - library -->
        <!-- Other reasons u may use it -->
        <!-- Games & VR - very different things, but methods similar -->
        <!-- panning, spatialisation, sound spriting -->
        <!-- VR example? or phone -->
        <!-- phaser -->
        <!-- But what if you do want to create your own sounds, or make your own sound machine - 4th way -->
        <!-- oscialltor -->
        <!-- modification nodes, distorting, filtering - under the hood maths -->
        <!-- create a small synth - demo they can have on their phone -->
        <!-- controlling -> hardware -->
        <!-- MIDI subject unto itself -->
        <!-- 10 min version... MIDI came about -->
        <!-- have it on the web -->
        <!-- press button demo -->
        <!-- demo with synth -->
        <!-- think about sound - think about it as part of design, it can be something simple (forms), animation is always enhanced - it's 2017, we don't need horrible load blaring music when we land on a page, we have all this power at our fingertips to make it really mature -->
        <!-- support for music file types -->

        

        <section data-background-color="#eee5c4" data-background-video="media/cameronsworld.mp4">
          <aside class="notes">
            <p>A website playing background music - the modern version of which is something like this:</p>
            <p>Real website - camerons worls</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background-video="media/annoy.mp4">
          <aside class="notes">
            <p>An annoying advert that autoplays - yes I know.</p>
            <p>http://afternooncareer.com/lp/int/uk/dn24/clx.htm</p>
            <p>If someone asks you to build this btw, stand up and walk away. You're a developer, there is work for you. Do the right thing. Stand up. Walk away.</p>
            <p>I'm going to get back to addressing this subject of audio on websites. But before I do - check some of this out, I'm sure we've all seen some of the amazing things we *can* now do.</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background-video="media/chord.mp4">
          <aside class="notes">
            <p>This is Jake Alburgh's appegiator - it's on codepen. It's such a simple idea, but it's illustrates soemthing so perfectly. The match between maths and music. I'm not going to go into it - but you should really check it out.</p>
            <p>It also illustrates the amazing things you can do with the audio api</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background-video="media/block.mp4">
          <aside class="notes">
            <p>This is blokdust. Built by Luke Twyman, Luke Phillips and Edward Silverton in Brighton.</p>
            <p>It's well mental. A beautiful interface for a synth - you just pull things in, sound inputs, add effects, chain them together and output them. You can add controls.</p>
            <p>Note this interface - it'll be important later.</p>
            <p>And it's not just synths & appediators - there's art too</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background-image="media/piano.jpg">
          <aside class="notes">
            <p>This is piano - an art installation built with three.js and p5.js by Patrik Hubner - it harnesses web audio and web midi.</p>
            <p>An audio visualisation is displayed in a window and MIDI controller used to by passers by to interact with it.</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background-image="media/roland808.png" data-transition="none">
          <aside class="notes">
            <p>There's this guy - Gregor Adams - he built an roland 808 to celebrate 808 followers on codepen, that was cool. And it's not just him, there's a growing trend I mean there are all these</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background-image="media/novation.png" data-transition="none">
          <aside class="notes">
            <p>synth</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background-image="media/viktor.png" data-transition="none">
          <aside class="notes">
            <p>the</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background="media/html909.png" data-transition="none">
          <aside class="notes">
            <p>sis</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background="media/mod.png" data-transition="none">
          <aside class="notes">
            <p>sers</p>
            <p>There are all these fabulous things being built with the web audio api</p>
            <p>We'll get to what a sythesiser is later in the talk... but for now, back to audio... web audio. I mean look at this where do you even begin.</p>
          </aside>
        </section>

        

        <section data-background-color="#463c34" class="lists">
          <div class="list-right">
            <h1>Web Audio API</h1>
            <ul>
              <li><h2>Create & load sounds</h2></li>
              <li class="fragment fade-in"><h2>Alter sounds</h2></li>
              <li class="fragment fade-in"><h2>Analyse sounds</h2></li>
              <li class="fragment fade-in"><h2>Output audio</h2></li>
            </ul>
          </div>
          <aside class="notes">
            <p>So I've tried to break it down into managable sections</p>
            <p>But there is too much to cover in one talk and there's a variety of different levels in the audience - some of you are going to know all of this and some of you none of it.</p>
            <p>Are you ready? CODE WARNING lots of code ready?</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
          <h1>Audio Context</h1>
          <pre><code class="js">const context = window.AudioContext</code></pre>
          <aside class="notes">
            <p>A concept to understand when you are working with web audio is the context</p>
            <p>This is sort of the area where everything happens.</p>
            <p>Think of it like a sound track. You have a start, middle, end. You have loads of intruments, there's volume, effects, soundscape. This is the context you're instantiating.</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
          <h1>Timing</h1>
          <pre><code class="js">const now = context.currentTime</code></pre>
          <aside class="notes">
            <p>See loads of code!</p>
            <p>Timing is super important in audio. In web audio we have this currentTime property. It accesses the audio subsystems hardware clock</p>
            <p>Long story short - we don't have to use javascript timing functions - which are dodgy.</p>
          </aside>
        </section>

        <section data-background-color="#463c34" data-background-image="media/nodes.png">
          <h1>Nodes</h1>
          <aside class="notes">
            <p>Concept of nodes</p>
            <p>Not a js ecosystem</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
        <h1>Make Sounds</h1>
        <pre><code data-trim class="js">// waveform
const oscillator = context.createOscillator();
context.createPeriodicWave(params)

// DOM (audio, video element)
const mediaSource = context.createMediaElementSource(element);

// Streams (data, camera, mic)
const streamSource = context.createMediaStreamSource(stream);

// Buffer (file, data)
fetch('soundFile.mp4')
  // read into memomry as array buffer
  .then(response => response.arrayBuffer())
  // turn into raw audio data
  .then(arrayBuffer => context.decodeAudioData(arrayBuffer))
  // then play (see https://jakearchibald.com/2016/sounds-fun/)
          </code></pre>
          <aside class="notes">
            <p>So once you have your context, you need some sounds.</p>
            <p>There are four main ways of creating or loading sounds into this context.</p>
            <p>periodic waveform - sine, sawtooth, triangle, sqaure</p>
            <p>buffers are containers data - samples. sample rate. create your own</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
        <h1>Buffers</h1>
        <pre><code data-trim class="js">// make your own!
const node = context.createBufferSource(),
  buffer = context.createBuffer(channels, frameCount, sampleRate),
  data = buffer.getChannelData(0);

for (var i = 0; i < 4096; i++) {
 data[i] = Math.random();
}

node.buffer = buffer;

// thanks http://www.justgoscha.com/programming/2014/04/08/creating-dynamic-audiobuffers-with-webaudio.html
          </code></pre>
          <aside class="notes">
            <p>So once you have your context, you need some sounds.</p>
            <p>There are four main ways of creating or loading sounds into this context.</p>
            <p>periodic waveform - sine, sawtooth, triangle, sqaure</p>
            <p>buffers are containers data - samples. sample rate. create your own</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
          <h1>Alter sounds</h1>
          <pre><code data-trim class="js">// filter/accentuate frequencies
const biquadFilter = context.audioCtx.createBiquadFilter();
biquadFilter.type = "lowpass";
biquadFilter.frequency.value = 500;

// manipulate waveform
const shaper = context.createWaveShaper();
shaper.curve = someCraMathsFunction();

// repeat buffer data
const reverb = context.createConvolver();
// fetch file to use as buffer or make here ...
reverb.buffer = bufferedFile;
          </code></pre>
          <aside class="notes">
            <p>Biquad filter - algorithms on data - to enhance frequencies or filter them out. There's lots of types. High pass, low pass, high shelf, low sheif, peaking</p>
            <p>Defines an array of numbers to multiply to the sample</p>
            <p>often generated by recording a percussive noise or frequency sweep in a space. Does this all sound convoluted? Well, technically, it is!</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
          <h1>Alter sounds</h1>
          <pre><code data-trim class="js">// even out velocity
var compressor = context.createDynamicsCompressor();
// set values threshold, knee, ratio, reduction, attack, release

// delay sound
const delay = context.createDelay(5.0);

// volume
const gainNode = context.createGain();
gainNode.gain.value = 0;

// spatualisation
const simplePanner = context.createStereoPanner();

const craSpacePanner = context.createPanner();
          </code></pre>
          <aside class="notes">
            <p>Ear is a clever thing, it can here very quiet sound & very loud sounds. It evens them out for you. It's a very good dynamic compressor.</p>
            <p>Panner takes into account distance, orientation adn 3D space. There's a whole bunch of params to set for this one - I strongly suggest looking at the docs.</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
          <h1>Analyse sounds</h1>
          <pre><code data-trim class="js">// frequency & time
const analyserNode = context.createAnalyser();

// larger for more resolution
analyser.fftSize = 1024;

var dataArray = new Uint8Array(2048);
// pass values into dataArray
analyser.getByteFrequencyData(dataArray);
          </code></pre>
          <aside class="notes">
            <p>This is my all time favourite feature. No doubt!</p>
            <p>We can anlayse frequency and time.</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
          <h1>Output</h1>
          <pre><code data-trim class="js">// speakers
node.connect(context.destination);

// MOAR streams
const streamDest = context.createMediaStreamDestination();
// create stream to connect here ...
node.connect(streamDest);
          </code></pre>
          <aside class="notes">
            <p>Phew that was a *lot* of information!</p>
            <p>Here's a picture of my friend Ben</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background-image="media/fistBump.gif">
          <aside class="notes">
            <p>Well done everyone - fist bump!</p>
            <p>Ben wrote a thing called co js - it's a bit like codepen, jsbin, js fiddle. But specifically for a co-op environment. Workshops, hacks etc... I can code, you can ll watch, you can modify. My code remains. It's pretty cool.</p>
            <p>I'm going to use it...</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
          <h1>Why don't you code Ruth?</h1>
          <aside class="notes">
            <p>Well done everyone - fist bump!</p>
            <p>Ben wrote a thing called co js - it's a bit like codepen, jsbin, js fiddle. But specifically for a co-op environment. Workshops, hacks etc... I can code, you can ll watch, you can modify. My code remains. It's pretty cool.</p>
            <p>I'm going to use it...</p>
          </aside>
        </section>

        <section data-background-color="#eee5c4" data-background-image="media/fistBump.gif">
          <aside class="notes">
            <p>Well done everyone - fist bump!</p>
            <p>Cos we haven't seen enough code right!</p>
            <p>What's the best sound you can get in a game?</p>
            <p>I'm going to use it...</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/jsfx.png" data-transition="none">
          <aside class="notes">
            <p>So the sound you just heard was very much like the ones you can create with jsfx - an audio library for 8 bit sounds. I've actually got it open to show you.</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/library.jpg">
          <h1>Audio Libraries</h1>
          <aside class="notes">
            <p>You're probably not gonna see much MIDI but audio is big in HTML games.</p>
            <p>This was actually quite tricky for me. I don't play games and if you google there's loads of Audio games - but they're not necessarily web.</p>
            <p>So I asked my friend.</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/tone.png" data-transition="none">
          <aside class="notes">
            <p>Tone js my favourite. Really complete, nice to use - lodas of effects, timing functionality, instrumentation.</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/tuna.png" data-transition="none">
          <aside class="notes">
            <p>Tuna - sound effects library. Useful for games.</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/howler.png" data-transition="none">
          <aside class="notes">
            <p>Howler is the big one - has everything I just spoke about, but it makes it easier to use and has cross platform support as well.</p>
            <p>Supports codecs, sound sprites etc...</p>
          </aside>
        </section>

        <section data-background-color="#ea8d88" data-background-image="media/phaser.png">
          <aside class="notes">
            <p>Phaser uses web audio - I don't think I need to talk about this - everyone is.</p>
            <p>It's pretty good, as far as I can tell. Has spacialisation, loading, sound spriting.</p>
          </aside>
        </section>

        <!-- <section data-background-color="#463c34">
          <h1>URL OR STEP SEQ DEMO</h1>
          <aside class="notes">
            <p>Shall we see all this in action?</p>
            <p>Copy basic code in - say what it's doing - then code some of the above.</p>
          </aside>
        </section>

        <section data-background-color="#463c34">
          <h1>Mario?</h1>
          <aside class="notes">
            <p>Shall we see all this in action?</p>
            <p>Copy basic code in - say what it's doing - then code some of the above.</p>
          </aside>
        </section> -->

        <section data-background-color="#acc486">
          <h1>MIDI</h1>
          <aside class="notes">
            <p>This is literally my favourite subject</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-video="media/cameronsworld.mp4">
          <h1>This is not MIDI</h1>
          <aside class="notes">
            <p>This is not MIDI</p>
          </aside>
        </section>

        <section data-background-color="#acc486">
          <h1>MIDI</h1>
          <h2>Musical Instrument</h2>
          <h2 class="fragment fade-in">Digital Interface</h2>
          <aside class="notes">
            <p>MIDI came around in the early 80's. It was born from rise of papularity of electronic instruments in the 70's</p>
            <p>A group of industry experts and musical instrument manufacturers got together and thought wouldn't it be nice if we had a spec where instruments could all talk to each other.</p>
            <p>So it's basically a data prototcol</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="media/techSpec.jpg">
          <h1>MIDI</h1>
          <h2 class="fragment fade-in">Data</h2>
          <aside class="notes">
            <p>Data protocal and a pretty basic one at that.</p>
            <p>The spec has moved on - 1->2. There have been other specs. DMX controls lighting heavily based on MIDI. Pyrotechnics use something similar too. There's a BLE spec, a polyphonic spec, visual spec.</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="media/midiToday.png">
          <aside class="notes">
            <p>BLE, polyphony - go and see</p>
            <p>Today there's more - I’m not going to go into every single spec, we simply don’t have enough time and also there’s parts that are more relevant to us as developers which you will see. If you want to find out more all the spec docs are on www.midi.org.</p>
            <p>Back to the data (show you?)</p>
          </aside>
        </section>

        <!-- <section>
          <h2>Let me show you</h2>
          <p><a href="https://goo.gl/Hhv8up">https://goo.gl/Hhv8up</a></p>
          <p>Top</p>
          <aside class="notes">
            <p>The easiest way for me to explain this to you is for me to illustrate this to you. Let’s take probably one of the most common MIDI enabled instruments - a keyboard.</p>
          </aside>
        </section> -->

        <section data-background-color="#acc486">
          <h1>Demo</h1>
          <p data-height="697" data-theme-id="1345" data-slug-hash="NxdbzL" data-default-tab="result" data-user="Rumyra" data-embed-version="2" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/Rumyra/pen/NxdbzL/">Web MIDI API Example</a> by Rumyra (<a href="http://codepen.io/Rumyra">@Rumyra</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
          <aside class="notes">
            <p>So if I plug in a MIDI instrument or controller and instigate the web MIDI api in my brwoser - this is the data you'll get</p>
            <p>You should all see a keyboard - one of the most common MIDI enabled instruments. Now this is the data that the web MIDI api passes back to us when a MIDI device is plugged in. So let's take a look at the code.</p>
          </aside>
        </section>

        <section data-background-color="#acc486">
          <h1>Web MIDI API</h1>
          <h2>[144, 60, 100]</h2>
          <pre><code data-trim>// call requestMIDIAccess
navigator.requestMIDIAccess({ sysex: false }).then(onMIDISuccess, onMIDIFailure);

// on success of MIDI device recognised
function onMIDISuccess(midiControl) {
  var MIDI = midiControl;

  // log each input data
  MIDI.inputs.forEach(function (input) {
    console.log(input.onmidimessage.data)
  }
}
          </code></pre>
          <aside class="notes">
            <p>You make sure it’s avail, listen for attached device, when plugged in you can receive these afore mentioned messages. All I’m doing here is logging those messages - you can do whatever you want with them. Notice the sysex false - this is related to system messages and I will get back to that in a moment.</p>
            <p>Now there’s a window of opportunity - there’s plenty of stuff we can start coding with that!</p>
            <p>But what are these values?</p>
            <p>the first byte 144 is the message type and channel, 144 is 90 in hex and the 9 says it's a 'Note on' message and the 0 is the channel number. A 'Note on' message has two data bytes, the first is the 'key number' which I'm guessing is the note number, so 60 would be C the second is 'note on velocity' and this has a value of 100, - 0-127 (I'm guessing this means the rate at which the note is turned on)</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="media/keyboard.jpg" data-transition="none">
          <aside class="notes">
            <p>These are MIDI instruments. They have onboard audio. There's classic ones, synths, drum machines</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="media/launchpad.jpg" data-transition="none">
          <aside class="notes">
            <p>This is a launchpad - probably one of the most popular MIDI controllers for developers - you might have seen one - it's an array of buttons - it sends similar data to what we werre seeing before</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="media/controllers.jpg" data-transition="none">
          <aside class="notes">
            <p>These are MIDI controllers. They're basically just hardware. No onboard audio.</p>
            <p>Check this one out - it's a game controller</p>
          </aside>
        </section>

        <section data-background-color="#acc486" data-background-image="media/orbit.jpg" data-transition="none">
          <aside class="notes">
            <p>These are MIDI controllers. They're basically just hardware. No onboard audio.</p>
            <p>Check this one out - it's a game controller</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>RUTH</h1>
          <h1 class="fragment fade-in">😳</h1>
          <h1 class="fragment fade-in">Games?</h1>
          <aside class="notes">
            <p>Yeh sorry I've been totally distracted, this is a game conference and yes I've been talking about all these weird and wonderful things you can do with crazy APIs</p>
            <p>Big thanks to Belen who really helped me with this btw - I said at the top of the talk I'm not a game dev. She pointed me in the right direction.</p>
            <p>So it's pretty obvious which bits are useful. Creating, timing, spacialising sounds. Maybe controlling - ther eis a gamepad api.</p>
          </aside>
        </section>

        

        <!-- <section data-background-color="#463c34">
          <h1>In the wild</h1>
          <aside class="notes">
            <p>You're probably not gonna see much MIDI but audio is big in HTML games.</p>
            <p>This was actually quite tricky for me. I don't play games and if you google there's loads of Audio games - but they're not necessarily web.</p>
            <p>So I asked my friend.</p>
          </aside>
        </section> -->

        <section data-background-color="#8c4c6f" class="lists">
          <div class="list-right">
            <h1>Important bits?</h1>
            <ul>
              <li><h2>Time</h2></li>
              <li class="fragment fade-in"><h2>Buffer</h2></li>
              <li class="fragment fade-in"><h2>Oscillator</h2></li>
              <li class="fragment fade-in"><h2>Panner</h2></li>
              <li class="fragment fade-in"><h2>Reverb, Compressor, Gain, Delay</h2></li>
            </ul>
          </div>
          <aside class="notes">
            <p>Timing, to accurately load and playback sounds at the right time, you'll need your currentTime property and use that.</p>
            <p>Sound spriting</p>
            <p>As is the buffer Loading files into the for playback</p>
            <p>We saw how useful the oscillator was for making sounds</p>
            <p>I would hightly recommend reading the MDN docs for panner node for spacialisation</p>
            <p>Reverb for your sound scape - different game levels might be different environments</p>
            <p>Second alter sounds slide -> dynamic compressor, gain, delay, spacialisation (panner).</p>
          </aside>
        </section>
        
        <section data-background-color="#8c4c6f" class="lists">
          <div class="list-right">
            <h1>Resources</h1>
            <ul>
              <li><h2><a href="https://www.html5rocks.com/en/tutorials/audio/scheduling/">Chris Wilson: A Tale of Two Clocks</a></h2></li>
              <li class="fragment fade-in"><h2><a href="https://www.html5rocks.com/en/tutorials/webaudio/games/">Boris Smus: Game Audio with Web Audio API</a></h2></li>
              <li class="fragment fade-in"><h2><a href="https://developer.mozilla.org/en-US/docs/Games/Techniques/Audio_for_Web_Games">MDN: Audio for Web Games</a></h2></li>
              <li class="fragment fade-in"><h2><a href="https://www.sitepoint.com/creating-accessible-breakout-game-using-web-audio-svg/">David Rousset: Accessible Breakout using Web Audio</a></h2></li>
            </ul>
          </div>
          <aside class="notes">
            <p>As well as the libraries I mentioned earlier there's a few articles worth noting</p>
            <p>Chris Wilson explains time really well</p>
            <p>A couple of articles on using the api for game dev - boris smus on html5 rocks and one on MDN</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f">
          <h1>Lunchtime!</h1>
          <aside class="notes">
            <p>I would say I've only scratched the surface - but this is a pretty cnprehensable guide. There's a lot of good info there.</p>
            <p>Even if you go ahead and just use Phasers capabilities - it's good to know this stuff and how it works</p>
            <p>There's so much and I didn't even mention Audio Workers!</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>Go Forth&nbsp;&nbsp;|&nbsp;&nbsp;Make Noise</h1>
          <h1>Ruth John</h1>
          <h1>@Rumyra</h1>
          <h1>@LiveJS_Network</h1>
          <p>Thank You Very Much</p>
          <aside class="notes">
            <p>Thank you very much, I'm Ruth John</p>
            <p>All these examples you've seen are on codepen as part of codevember</p>
            <p>Find me on the internets, follow me - I'm trying to get more followers than a guy named Ben Foxall</p>
            <p>Go have a relax and I hope you had a lovely conference!</p>
          </aside>
        </section>

        <section data-background-color="#8c4c6f" data-state="no-visuals">
          <h1>Credits</h1>
          <h3>@jsoxford hack photo: @spikeheap</h3>
          <h3>Apeggiator: https://codepen.io/jakealbaugh/pen/qNrZyw</h3>
          <h3>Blokdust: https://blokdust.com/</h3>
          <h3>Piano: https://www.patrik-huebner.com/portfolio-item/piano-3d-audio-reactive-typography/</h3>
          <aside class="notes">
            
          </aside>
        </section>

<!-- THIS IS IMPORTANT "0x" + x.toString(16); -->
      </section>
    </div></div>

    <div id="screen"></div>

<script src="reveal/plugin/notes/notes.js"></script>
<script src="reveal/plugin/highlight/highlight.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- <script src="scripts/audioVisual.js"></script> -->

<script type="text/javascript">
// Reveal~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Reveal.initialize({

  // The "normal" size of the presentation, aspect ratio will be preserved
  // when the presentation is scaled to fit different resolutions. Can be
  // specified using percentage units.
  width: 1024,
  height: 768,

  // Factor of the display size that should remain empty around the content
  margin: 0.1,

  // Bounds for smallest/largest possible scale to apply to content
  minScale: 0.2,
  maxScale: 1.5,

  center: false,

  // Display controls in the bottom right corner
  controls: false,

  // Display a presentation progress bar
  progress: false,

  // Display the page number of the current slide
  slideNumber: false,

  // Push each slide change to the browser history
  history: true,

  // Enable keyboard shortcuts for navigation
  keyboard: {
    25: 'next' // go to the next slide when the DOWN key is pressed
  },

  // Transition style
  transition: 'fade', // none/fade/slide/convex/concave/zoom

  // Transition speed
  transitionSpeed: 'default', // default/fast/slow

  // Transition style for full page slide backgrounds
  backgroundTransition: 'default', // none/fade/slide/convex/concave/zoom

  // Number of slides away from the current that are visible
  viewDistance: 2,

  // Parallax background image
  parallaxBackgroundImage: '', // e.g. "'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg'"

  // Parallax background size
  parallaxBackgroundSize: '', // CSS syntax, e.g. "2100px 900px"

  // Amount to move parallax background (horizontal and vertical) on slide change
  // Number, e.g. 100
  parallaxBackgroundHorizontal: '',
  parallaxBackgroundVertical: ''

});

</script>


</body>
</html>