@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

body {
  margin:0px; padding:0px;
  background-color: hsla(240,5%,18%,1);
  font-size:100%;
}
.container {margin:0px; padding:0px;}

/*synth ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#synth {
  width:260px;
  margin:0px auto; padding:30px;
}
button {
  display: block; width:100%;
  box-sizing: border-box;
  margin:20px 0px; padding:20px 0px;

  border:10px solid hsla(280,45%,50%,1); border-radius:2px;
  box-shadow: 0px 0px 5px black;
  background-color:hsla(280,45%,40%,1);
  background-image: linear-gradient(0deg,
    hsla(280,45%,45%,1),
    hsla(280,45%,40%,1));

  font-family: "Montserrat", sans-serif;
  font-weight: bold; text-transform: uppercase;
  font-size: 1.9em; color: hsla(290,45%,98%,1);

  cursor:pointer;
}
.slides button {max-width:40%; font-size: 1.2em; margin:50px auto 0px;}
button:hover, button.on {
  background-color:hsla(280,45%,50%,1);
  border-color:hsla(280,45%,60%,1);
  background-image: linear-gradient(0deg,
    hsla(280,45%,50%,1),
    hsla(280,45%,55%,1),
    hsla(280,45%,50%,1));
}
button[data-sound="laser"], button[data-sound="osc"] {
  background-color:hsla(70,45%,40%,1);
  background-image: linear-gradient(0deg,
    hsla(70,45%,45%,1),
    hsla(70,45%,50%,1));
  border-color: hsla(70,45%,50%,1);
}
button[data-sound="laser"]:hover, button[data-sound="laser"].on, button[data-sound="osc"]:hover, button[data-sound="osc"].on {
  background-color:hsla(70,45%,50%,1);
  border-color:hsla(70,45%,60%,1);
  background-image: linear-gradient(0deg,
    hsla(70,45%,50%,1),
    hsla(70,45%,55%,1),
    hsla(70,45%,50%,1));
}
button[data-sound="kick"] {
  background-color:hsla(0,45%,40%,1);
  background-image: linear-gradient(0deg,
    hsla(0,45%,45%,1),
    hsla(0,45%,50%,1));
  border-color: hsla(0,45%,50%,1);
}
button[data-sound="kick"]:hover, button[data-sound="kick"].on {
  background-color:hsla(0,45%,50%,1);
  border-color:hsla(0,45%,60%,1);
  background-image: linear-gradient(0deg,
    hsla(0,45%,50%,1),
    hsla(0,45%,55%,1),
    hsla(0,45%,50%,1));
}
button[data-sound="snare"] {
  background-color:hsla(230,45%,40%,1);
  background-image: linear-gradient(0deg,
    hsla(230,45%,45%,1),
    hsla(230,45%,50%,1));
  border-color: hsla(230,45%,50%,1);
}
button[data-sound="snare"]:hover, button[data-sound="snare"].on {
  background-color:hsla(230,45%,50%,1);
  border-color:hsla(230,45%,60%,1);
  background-image: linear-gradient(0deg,
    hsla(230,45%,50%,1),
    hsla(230,45%,55%,1),
    hsla(230,45%,50%,1));
}
button[data-sound="hh"] {
  background-color:hsla(190,45%,40%,1);
  background-image: linear-gradient(0deg,
    hsla(190,45%,45%,1),
    hsla(190,45%,50%,1));
  border-color: hsla(190,45%,50%,1);
}
button[data-sound="hh"]:hover, button[data-sound="hh"].on {
  background-color:hsla(190,45%,50%,1);
  border-color:hsla(190,45%,60%,1);
  background-image: linear-gradient(0deg,
    hsla(190,45%,50%,1),
    hsla(190,45%,55%,1),
    hsla(190,45%,50%,1));
}

/*svg graph ~~~~~~~~~~~~~~~~~~*/
#wave-graph {
  width:90vw; height:70vh;
  padding-left:20px;
  transform: translateX(-10%);
  font-family: "Montserrat";
  font-size: 0.6em;
  color:white;
}
.axis path, .axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}
.axis text {fill:white;}
.x.axis line {
  shape-rendering: auto;
}
.line {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
}

/*spacialised sound ~~~~~~~~~~~~~~~~~*/
#space {
  width:50%; height:40vh; margin:0px auto 100px;
  border:2px solid grey;
  background:hsla(270, 10%, 60%, 0.5);
}

#space span {
  display: block; margin:0px auto;
  width: 80px; height: 80px;
  border-radius: 50%;
}

span[data-object="source"] {
  background: blue;
}
span[data-object="listener"] {
  background: red;
}













