body {
  margin:0px; padding:0px;
  background-color: hsla(240,35%,98%,1);
  font-size:100%;
}

div {
  width:260px;
  margin:0px auto; padding:30px;
}
button {
  display: block; width:100%;
  box-sizing: border-box;
  margin:20px 0px; padding:20px 0px;

  border:3px solid hsla(290,35%,70%,1); border-radius:2px;
  background-color:hsla(290,35%,60%,1);
  background-image: linear-gradient(0deg,
    hsla(300,35%,60%,1),
    hsla(270,35%,60%,1));

  font-family: "Avenir Light", sans-serif;
  font-size: 1.9em; color: hsla(290,35%,98%,1);

  cursor:pointer;
}
button:hover {opacity:0.8;}
button:nth-of-type(2) {
  background-image: linear-gradient(0deg,
    hsla(270,35%,60%,1),
    hsla(240,35%,60%,1));
  border-color: hsla(260,35%,70%,1);
}
button:nth-of-type(3) {
  background-image: linear-gradient(0deg,
    hsla(240,35%,60%,1),
    hsla(210,35%,60%,1));
  border-color: hsla(250,35%,70%,1);
}
button:nth-of-type(4) {
  background-image: linear-gradient(0deg,
    hsla(210,35%,60%,1),
    hsla(180,35%,60%,1));
  border-color: hsla(200,35%,70%,1);
}